@media screen and (max-width: 991px) {
    .your-wish {
        padding-top: 50px !important;
    }
}
.about-container {
    padding-top: 80px;
    height: 300px;
    background: #5bd7fc;
}
.about-container h1 {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
}
.about-twitter {
    padding-left: 60px;

}
.about-container i {
    color: #FFFFFF;
}
.contact-info-div span {
    color: #FFFFFF;
}
.contact-info-div {
    margin-top: 60px;
}
.social-text {
    color: #e6edef !important;
}
.your-wish {
    padding-top: 50px;
    height: 315px;
    color: #FFFFFF;
}
.your-wish h1 {
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #808080;
}
.your-wish h3 {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #a8b8bd;
    font-weight: 400;
}
.your-wish button {
    width: 140px;
    height: 50px;
    margin-top: 50px;
    font-family: Lato;
    font-size: 13px;
    border-radius: 2px;
    border: 1px solid #5bd7fc;
    background: #FFFFFF;
    color: #5bd7fc;
}
.your-wish button:hover {
    color: #fff;
    border: 1px solid #5bd7fc;
    background-color: #5bd7fc;
}
.your-wish button:focus {
    color: #fff;
    border: 1px solid #5bd7fc;
    background-color: #5bd7fc;
}
.pull-right-md a {
    text-decoration: none;
}
.about-twitter a {
    text-decoration: none;
}
@media (min-width: 992px) {
    .pull-right-md {
        float: right;
    }
}
@media (max-width: 991px) {
    .about-twitter {
        text-align: center;
        padding-left: 0px;
    }
}