.dropdown-button-action {
    width: 70px;
    height: 35px;
    background-color: #cccccc;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.dropdown-button:hover {
    color: #a8b8bd;
}

.dropdown-button:focus {
    color: #a8b8bd;
}

.dropdown-button-action {
    width: 70px;
    height: 35px;
    background-color: #cccccc;
    color: #fff;
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
}

.dropdown-button-action:hover {
    color: #fff;
    background-color: #c3c2c2;
}

.dropdown-button-action:focus {
    color: #fff;
}

.dropdown-button-action p {
    font-size: 12px !important;
    color: #fff !important;
}

.edit-recipe-title-decription h3 {
    margin-top: 50px;
    color: #808080;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.file {
    margin-top: 20px;
}

.file label {
    float: right;
}

.file input {
    display: inline-block;
}

.box-check {
    margin-top: 5px;
}


/*add slides*/

@media screen and (max-width: 991px) {
    .blog-admin-right {
        margin-top: 0px !important;
    }
    .mq-new-blog {
        padding-top: 5%;
    }
    .new-blog-left-header {
        float: left;
        margin-left: 5%;
    }
    .new-blog-right-header {
        float: right;
        margin-right: 5%;
    }
    .new-blog-left-footer {
        float: left;
        margin-left: 5%;
    }
    .new-blog-right-footer {
        float: right;
        margin-right: 5%;
        margin-top: 15px;
    }
}

.blog-admin-right {
    margin-top: 85px;
}

.new-blog {
    height: 180px;
    border: 2px solid;
    border-color: #e7edf4;
}

.new-blog-header {
    height: 70%;
    background-color: #ffffff;
}

.new-blog-footer {
    height: 30%;
    background-color: #cccccc;
    cursor: pointer;
}

.new-blog-header h4 {
    font-size: 17px;
    color: #868b8f;
    text-align: left;
}

.new-blog-header p {
    font-size: 13px;
    color: #cccccc;
    text-align: left;
    font-weight: bold;
}

.new-blog-left-header {
    margin-left: 20px;
    margin-top: 20px;
}

.new-blog-right-header {
    text-align: center;
    margin-top: 35px;
    margin-left: -20px;
}

.new-blog-footer p {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 15px;
}

.btn-slides-add {
    background-color: #5bd7fc;
    color: #fff;
    height: 49px;
    width: 100px;
}
