.add-tags {
	margin-top: 80px;
}
.add-tags input {
	color: #a8b8bd;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.add-tags .input-group-addon:first-child {
	color: #fff;
	background-color: #5bd7fc;
	border-color: #5bd7fc;
}
.btn-add-more {
	height: 49px;
	width: 100px;
	background-color: #3ccffb;
	color: #fff;
}
.btn-save {
	height: 49px;
	width: 100px;
	background-color: #3ccffb;
	color: #fff;
}
.buttons {
	margin-top: 20px;
}