/* total tags */
@media screen  and (max-width: 1024px) and (min-width: 991px) {
    .graph .col-md-3 {
        width: 30% !important;
    }
}
@media screen and (max-width: 991px) {
    /* total tags */
    .total-left-header {
        float: left;
        margin-left: 5%;
    }
    .total-right-header {
        float: right;
        margin-right: 5%;
    }
    .total-left-footer {
        float: left;
        margin-left: 5%;
    }
    .total-right-footer {
        float: right;
        margin-right: 5%;
        margin-top: 15px;
    }
    .mq-total-tags {
        padding-top: 5%;
    }
    /* new users */

    .new-left-header {
        float: left;
        margin-left: 5%;
    }
    .new-right-header {
        float: right;
        margin-right: 5%;
    }
    .new-left-footer {
        float: left;
        margin-left: 5%;
    }
    .new-right-footer {
        float: right;
        margin-right: 5%;
        margin-top: 15px;
    }
    .mq-new-users {
        padding-top: 5%;
    }
    /* posted recipes */

    .posted-left-header {
        float: left;
        margin-left: 5%;
    }
    .posted-right-header {
        float: right;
        margin-right: 5%;
    }
    .posted-left-footer {
        float: left;
        margin-left: 5%;
    }
    .posted-right-footer {
        float: right;
        margin-right: 5%;
        margin-top: 15px;
    }
    .mq-posted-recipes {
        padding-top: 5%;
    }
    /* blog posts */
    .blog-left-header {
        float: left;
        margin-left: 5%;
    }
    .blog-right-header {
        float: right;
        margin-right: 5%;
    }
    .blog-left-footer {
        float: left;
        margin-left: 5%;
    }
    .blog-right-footer {
        float: right;
        margin-right: 5%;
        margin-top: 15px;
    }
    .mq-blog-posts {
        padding-top: 5%;
    }
}

.total-tags {
    height: 180px;
    border: 2px solid;
    border-color: #e7edf4;
}
.total-tags-header {
    height: 70%;
    background-color: #ffffff;
}
.total-tags-footer {
    height: 30%;
    background-color: #673ab7;
}
.total-tags-header h4 {
    font-size: 20px;
    color: #673ab7;
    text-align: left;
}
.total-tags-header p {
    font-size: 16px;
    color: #868b8f;
    text-align: left;
}
.total-left-header {
    margin-left: 20px;
    margin-top: 20px;
}
.total-right-header {
    text-align: center;
    margin-top: 35px;
    margin-left: -20px;
}
.total-tags-footer p {
    font-size: 16px;
    color: #fff;
}
.total-left-footer {
    text-align: center;
    margin-top: 15px;
}
.total-right-footer {
    text-align: center;
    margin-top: 15px;
}
/* new users */

.new-left-header {
    margin-left: 20px;
    margin-top: 20px;
}
.new-right-header {
    text-align: center;
    margin-top: 35px;
    margin-left: -20px;
}
.new-users {
    height: 180px;
    border: 2px solid;
    border-color: #e7edf4;
}
.new-users-header h4 {
    font-size: 20px;
    color: #e53935;
    text-align: left;
}
.new-users-header p {
    font-size: 16px;
    color: #868b8f;
    text-align: left;
}
.new-users-header {
    height: 70%;
    background-color: #ffffff;
}
.new-users-footer {
    height: 30%;
    background-color: #e53935;
}
.new-users-footer p {
    font-size: 16px;
    color: #fff;
}
.new-left-footer {
    text-align: center;
    margin-top: 15px;
}
.new-right-footer {
    text-align: center;
    margin-top: 15px;
}

/* posted recipes */
.posted-left-header {
    margin-left: 20px;
    margin-top: 20px;
}
.posted-right-header {
    text-align: center;
    margin-top: 35px;
    margin-left: -20px;
}
.posted-recipes-header h4 {
    font-size: 20px;
    color: #73c076;
    text-align: left;
}
.posted-recipes-header p {
    font-size: 16px;
    color: #868b8f;
    text-align: left;
}
.posted-recipes {
    height: 180px;
    border: 2px solid;
    border-color: #e7edf4;
}
.posted-recipes-header {
    height: 70%;
    background-color: #ffffff;
}
.posted-recipes-footer {
    height: 30%;
    background-color: #66bb6a;
}
.posted-recipes-footer p {
    font-size: 16px;
    color: #fff;
}
.posted-left-footer {
    text-align: center;
    margin-top: 15px;
}
.posted-right-footer {
    text-align: center;
    margin-top: 15px;
}

/* blog posts */
.blog-left-header {
    margin-left: 20px;
    margin-top: 20px;
}
.blog-right-header {
    text-align: center;
    margin-top: 35px;
    margin-left: -20px;
}
.blog-posts-header h4 {
    font-size: 20px;
    color: #ffa726;
    text-align: left;
}
.blog-posts-header p {
    font-size: 16px;
    color: #868b8f;
    text-align: left;
}
.blog-posts {
    height: 180px;
    border: 2px solid;
    border-color: #e7edf4;
}
.blog-posts-header {
    height: 70%;
    background-color: #ffffff;
}
.blog-posts-footer {
    height: 30%;
    background-color: #ffa726;
}
.blog-posts-footer p {
    font-size: 16px;
    color: #fff;
}
.blog-left-footer {
    text-align: center;
    margin-top: 15px;
}
.blog-right-footer {
    text-align: center;
    margin-top: 15px;
}

.statistic {
    margin-top: 70px;
}

/* Graph */

.graph {
    margin-top: 70px;
}
.graph-tabs {
    height: 310px;
    border: 1px solid;
    border-color: #dfe8f1;
    background-color: #fff;
}
.tabs-li {
    width: 33.333333%;
    text-align: center;
}
.tabs-li a {
    color: #808080;
    margin: 0px !important;
    border-radius: 0px !important;
    background-color: #fafafa;
}
.tabs-li a:focus {
    background-color: #fff !important;
}
.tabs-li a:hover {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom-color: #5bd7fc !important;
}
.tabs-nav {
    background-color: #fafafa;
    border-bottom: none;
}
.arrow-menu-btn {
    padding-left: 18px;
}
.btn-categories {
    margin-bottom: 15px;
    background-color: #5bd7fc;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-left: 3%;
}
.btn-categories:hover {
    color: #fff;
}
.btn-categories:focus {
    color: #fff;
}