#admin-nav-bar {
    background: #54c9ec;
    border: none;
    border-radius: 0;
    background: -webkit-linear-gradient(left, #54c9ec , #5bd7fc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #54c9ec , #5bd7fc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #54c9ec , #5bd7fc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #54c9ec , #5bd7fc); /* Standard syntax */
}

*:focus {
    outline: none;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #d1eef6;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #d1eef6;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #d1eef6;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #d1eef6;
}

.menu-burger {
    color: #fff;
}
.menu-notification {
    color: #fff;
}
.menu-settings {
    color: #fff;
}
.menu-lock {
    color: #fff;
}

.user-name {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.user-role {
    font-size: 15px;
    line-height: 0;
    color: #d1eef6;

}
.admin-settings-dropdown {
    background: #7cdffd !important;
    border: none !important;
    color: #fff !important;
}
.search-input {
    color: #ffffff;
}
/* Admin side menu */
body {
    overflow-x: hidden;
    background: #fafcfe;
}
/* Toggle Styles */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#wrapper.toggled .navbar-header{
    padding-left: 0px;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 300px;
    width: 0;
    height: 100%;
    margin-left: -300px;
    overflow-y: auto;
    background: #ffffff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -300px;
}
/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #a8b8bd;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #757575;
    background: #ffffff;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(max-width: 768px) {
    #wrapper .navbar-toggle {
        display: none;
    }
    #wrapper.toggled .navbar-toggle {
        display: block;
    }
}

@media(min-width:0px) {
    #wrapper .navbar-header{
        /*padding-left: 300px;*/
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 300px;
        overflow: hidden;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
.hide-arrow {
    display: none;
}
.sidebar-header {
    width: 100%;
    height: 105px;
    background: -webkit-linear-gradient(left, #57ccef , #6fd4f2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #57ccef , #6fd4f2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #57ccef , #6fd4f2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #57ccef , #6fd4f2); /* Standard syntax */
}
.sidebar-content {
    margin-top: 105px;
    font-family: Lato;
    font-weight: bold;
}
.sidemenu-icon {
    color: #78defd;
}
.sidebar-content h5 {
    line-height: 30px;
}
.sidebar-header .title {
    font-size: 20px;
    font-family: Lato;
    color: #ffffff;
}
.sidebar-header .row {
    line-height: 102px;
}
.sidebar-header .admin-tag {
    font-size: 9.1px;
    font-family: Lato;
    color: #6dd3f2;
    background-color: #ffffff;
}
.black-font {
    font-weight: bold;
}
.dashboard-title {
    margin-left: 0px;
    margin-top: 50px;
}
.dashboard-title h2{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    color: #808080;
}
.dashboard h1 {
    color: #808080;
    font-size: 25px;
    margin-top: 55px;
}
.dashboard p {
    color: #bababa;
}
.btn .badge {
    position: relative;
    top: -17px;
    left: 27px;
    font-size: 12px;
    padding-top: 10px;
}
.admin-panel-logo {
    margin-top: 30px;
}
.left-arrow-margin {
    margin: 18px 0;
}
.admin-menu-item-margin {
    margin: 24px 0;
}
.mobile-menu-padding {
    padding: 15px 0;
}
.menu-item {
    color: #FFFFFF;
}
.menu-item > a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16pt;
}
.menu-item > a:visited {
    color: #FFFFFF;
}