textarea {
    resize: vertical;
}
.border-right {
    border-right: 1px solid #cacbce;
}
.advertisement-admin {
    margin-bottom: 50px;
}
.border-top {
    border-top: 1px solid #cacbce;
}
.border-bottom {
    border-bottom: 1px solid #cacbce;
    margin-bottom: 5px;
}
.border {
    border: 1px solid #cacbce;
}
.no-border-left {
    border-left: 0;
}
