@media screen and (max-width: 414px) {
    .btn-read-more-latest {
        float: none !important;
    }
}
@media screen and (max-width: 991px) {
    .btn-read-more-latest {
        margin-top: -60px !important;
    }
}
.btn-read-more-latest {
    color: #5bd7fc !important;
    background-color: #fff;
    border: 1px solid;
    border-color: #5bd7fc;
    width: 120px;
    height: 49px;
    font-size: 13px;
    float: right;
}
.btn-read-more-latest:hover {
    background-color: #5bd7fc;
    color: #fff !important;
    border: 2px solid;
    border-color: #5bd7fc;
}

.load-padding {
    margin-bottom: 20px;
}
.category-name {
    font-size: 30px !important;
}
