.blogs {
    border: 1px solid;
    border-color: #dfe8f1;
    padding-top: 20px;
    padding-bottom: 20px;
}
.blogs p {
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    color: #a8b8bd;
}
.blogs h5 {
    margin-top: 0px;
    color: #808080;
}
.dropdown-button-action {
    width: 70px;
    height: 35px;
    background-color: #cccccc;
    color: #fff;
    font-family: 'Lato', sans-serif;
}
.dropdown-button:hover {
	color: #a8b8bd;
}
.dropdown-button:focus {
	color: #a8b8bd;
}
.dropdown-button-action {
	width: 70px;
	height: 35px;
	background-color: #cccccc;
	color: #fff;
	font-family: 'Lato', sans-serif;
}
.dropdown-button-action:hover {
	color: #fff;
	background-color: #c3c2c2;
}
.dropdown-button-action:focus {
	color: #fff;
}
.dropdown-button-action p {
	font-size: 12px !important;
	color: #fff !important;
}
.wishlist-admin-left {
    border: 1px solid;
    border-color: #dfe8f1;
    border-radius: 2px;
    background-color: #fff;
    margin-top: 20px;
}
.wishlist-admin-left h4 {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    margin-top: 20px;
}
.file {
	margin-top: 20px;
}
.edit-recipe-title-decription h3 {
	margin-top: 50px;
	color: #808080;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}