.content {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.login-panel {
    min-width: 300px;
    max-width: 780px;
    height: 530px;
    border: none;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    background: url("../img/login-panel-background.png");
}
.login-panel .login-title {
    margin-top: 40px;
    color: #808080;
}
.login_box {
    width: 100%;
    margin-top:15px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
.form-signin {
    margin-top: 10px;
}
.forgot-password {
    color: #9f9e9e;
    text-decoration: none !important;
}
.checkbox label {
    padding-left: 0px;
    color: #9f9e9e;
}
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}
.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #5bd7fc;
    background: #5bd7fc;
    color: #FFFFFF;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: .5em;
}
.radio .cr {
    border-radius: 50%;
}
.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}
.radio .cr .cr-icon {
    margin-left: 0.04em;
}
/* Checkbox */
.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}
.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}
.check-box-forgot-pw  {
    margin-top: 30px;
}
.forgot-password {
    line-height: 40px;
}
.buttons-login button {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 0px;
}
.buttons-login .signin-button {
    background: #5bd7fc;
    color: #FFFFFF;
}
.buttons-login .signin-button:hover {
    background: #33caf7;
    color: #fff;
    border: 1px solid;
    border-color: #33caf7;
}
.buttons-login .register-button {
    background: #FFFFFF;
    color: #cccccc;
    border: 1px solid #cccccc;
}
.buttons-login .register-button:hover {
    background: #f9f9f9;
    color: #cccccc;
}
.or-login-text {
    color: #cccccc;
    margin-top: 50px;
}
.social-buttons {
    max-width: 215px;
}
.social-buttons button {
    width: 60px;
    color: #cccccc;
    border: 1px solid #cccccc;
    background: #FFFFFF;
}
.fb-btn:hover {
    color: #fff !important;
    border: 1px solid #4862a3;
    background-color: #4862a3;
}
.tw-btn:hover {
    color: #fff !important;
    border: 1px solid #1da1f2;
    background-color: #1da1f2;
}
.gp-btn:hover {
    color: #fff !important;
    border: 1px solid #db4437;
    background-color: #db4437;
}
.social-buttons button:hover {
    color: #cbc1cc;
}
.social-buttons button:focus {
    color: #cbc1cc;
}