.not-found-page {
	margin-top: 125px;
}
.not-found-page h4 {
	font-size: 16px;
	color: #cccccc;
	font-family: 'Lato', sans-serif;
}
.not-found-page h2 {
	font-size: 20px;
	color: #808080;
	margin-top: 40px;
}
.not-found-page p {
	color: #a8b8bd;
	font-size: 13.02px;
}
.ptag {
	margin-top: 50px;
}