@media screen and (max-width: 1199px) {
    .article-small-info {
        margin-left: -260px !important;
    }
}
@media screen and (max-width: 991px) {
    .article-small-info {
        margin-left: -15px !important;
    }
    .calendar-col {
        float: left;
    }
    .read-later-col {
        float: left;
    }
    .user-col {
        float: left;
    }
    .article-title {
        margin-top: 20px !important;
    }
}
@media screen and (max-width: 441px) {
    .container-padding {
        text-align: center;
    }
    .article-title {
        margin-top: 20px !important;
    }
}
@media screen and (max-width: 403px) {
    .read-later-red-more button {
        float: left !important;
        margin-top: 10px !important;
    }
}

.container-padding {
    margin-top: 30px;
}
.read-later-title {
    margin-top: 100px;
    color: #cccccc;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin-bottom: 50px;
}
.article-title {
    color: #808080;
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.article-description {
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    color: #a8b8bd;
    font-weight: 400;
}
.calendar-col {
    color: #a8b8bd;
}
.read-later-col {
    cursor: pointer;
    color: #94c799;
}
.read-later-col:hover {
    color: #52c74d;
}
.article-username {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #5bd7fc;
}
.food-image-article {
    max-height: 180px;
}
.article-small-info {
    margin-top: 40px;
}
.action-btn-col {
    line-height: 180px;
}
.action-btn-col button {
    color: #FFFFFF;
}
.single-article {
    margin-bottom: 50px;
}
.read-later-red-more button {
    color: #5bd7fc !important;
    background-color: #fff;
    border: 1px solid;
    border-color: #5bd7fc;
    width: 90px;
    height: 30px;
    font-size: 10px;
    margin-top: -7px;
    float: right;
}
.read-later-red-more button:hover {
    background-color: #5bd7fc;
    color: #fff !important;
    border: 2px solid;
    border-color: #5bd7fc;
}
.checkbox {
    padding-left: 20px; }
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-read-later {
    font-size: 30px;
    line-height: 140px;
}
.read-later-container {
    padding-top: 80px;
    height: 250px;
    background: #5bd7fc;
    color: #FFFFFF;
}
.read-later-container h1 {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
}