.media, .media-body {
	overflow: visible;
}
.recent-group ul.dropdown-menu {
	background-color: #fff;
}
@media screen and (max-width: 1199px) {
	.blog-admin-date p {
		font-size: 11px !important;
	}
	.blog-admin-user p {
		font-size: 11px !important;
	}
	.blogs p {
		font-size: 10px !important;
	}
	.ab-records p {
		font-size: 10px !important;
	}
}

@media screen and (max-width: 991px) {
    .new-blog-left-header {
        float: left;
        margin-left: 5%;
    }
    .new-blog-right-header {
        float: right;
        margin-right: 5%;
    }
    .new-blog-left-footer {
        float: left;
        margin-left: 5%;
    }
    .new-blog-right-footer {
        float: right;
        margin-right: 5%;
        margin-top: 15px;
    }
    .mq-new-blog {
        padding-top: 5%;
    }
    .input-search {
		float: left !important;
	}
	.btn-edit {
		float: left !important;
	}
	.group-btn {
		float: left !important;
		padding-left: 20px !important;
	}
	.btn-view-blog {
		float: left !important;
		margin-left: 20px !important;
	}
	.blog-admin-right {
		margin-top: 0px !important;
	}
	.blogs h5 {
		margin-top: 20px !important;
	}
	.blogss {
		margin-top: -22px !important;
	}
	.blog-admin-date {
		float: left !important;
	}
	.blog-admin-by {
		float: left !important;
	}
	.blog-admin-user {
		float: left !important;
	}
}
@media screen and (max-width: 768px) {
	.blogss {
		margin-top: 0px !important;
	}
}
.blog-admin-title h2{
	font-size: 25px;
	font-family: 'Lato', sans-serif;
	color: #808080;
}
.blog-admin-title p {
	font-size: 13px;
	color: #9f9e9e;
	font-family: 'Lato', sans-serif;
}
.blog-admin {
	margin-top: 50px;
}
.blog-admin-left {
	border: 1px solid;
	border-color: #dfe8f1;
	border-radius: 2px;
	margin-top: 40px;
	background-color: #fff;
}
.blog-admin-left h4 {
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	color: #a8b8bd;
	margin-top: 20px;
}
.blog-admin-right {
	margin-top: 40px;
}
.dropdown-button {
	width: 70px;
	height: 35px;
	border: 1px solid;
	border-color: #e6e6e6;
	background-color: #fff;
	color: #a8b8bd;
	font-family: 'Lato', sans-serif;
}
.dropdown-button:hover {
	color: #a8b8bd;
}
.dropdown-button:focus {
	color: #a8b8bd;
}
.dropdown-button-action {
	width: 70px;
	height: 35px;
	background-color: #cccccc;
	color: #fff;
	font-family: 'Lato', sans-serif;
}
.dropdown-button-action:hover {
	color: #fff;
	background-color: #c3c2c2;
}
.dropdown-button-action:focus {
	color: #fff;
}
.dropdown-button-action p {
	font-size: 12px !important;
	color: #fff !important;
}
.btn-edit {
	width: 70px;
	height: 35px;
	background-color: #5bd7fc;
	color: #fff;
	font-family: 'Lato', sans-serif;
}
.btn-edit:hover {
	background-color: #3ccffb;

}
.btn-edit:focus {
	color: #fff;
}
.btn-edit p {
	font-size: 12px !important;
	color: #fff !important;
}
.btn-view-blog {
	width: 70px;
	height: 35px;
	background-color: #fff;
	color: #cccccc;
	border: 1px solid;
	border-color: #cccccc;
}
.btn-view-blog:hover {
	background-color: #f7f7f7;
}
.btn-view-blog:hover {
	color: #cccccc;
}
.btn-view-blog:focus {
	color: #cccccc;
}
.btn-view-blog p {
	font-size: 12px !important;
    margin-left: -12px;

}
.ab-records p {
	font-size: 13px;
	color: #a8b8bd;
	font-family: 'Lato', sans-serif;
	height: 35px;
	line-height: 35px;
}
.input-search {
	float: right;
	border: 1px solid #fff;
	border-color: #e6e6e6;
	border-radius: 2px;
	background-color: #fff;
}
.input-search input {
	border: none;
	color: #cdcdcd;
	margin-left: 30px;
	width: 190px;
	height: 35px;
	line-height: 35px;
}
.input-search i {
	position: absolute;
    padding-left: 5px;
    color: #cdcdcd;
    pointer-events: none;
    height: 35px;
    line-height: 35px;
}
::-webkit-input-placeholder {
   color: #cdcdcd;
}
.blogs {
	border-bottom: 1px solid;
	border-color: #dfe8f1;
	padding-top: 20px;
	/*margin-top: 50px;*/

}
.blogs p {
	font-size: 11px;
	font-family: 'Lato', sans-serif;
	color: #a8b8bd;
}
.blogs h5 {
	margin-top: 0px;
	color: #808080;
}
.recipes {
	margin-top: 20px;
}
.recipes p {
	font-size: 11px;
	font-family: 'Lato', sans-serif;
	color: #a8b8bd;
}
.recipes h5 {
	margin-top: 0px;
	color: #808080;
}
.buttons {
	height: 80px;
    line-height: 80px;
}
.blog-admin-date p {
	font-size: 13px;
    font-family: 'Lato', sans-serif;
    color: #a8b8bd;
}
.blog-admin-user p {
	font-size: 13px;
    font-family: 'Lato', sans-serif;
    color: #5bd7fc;
    font-weight: bold;
}

.new-blog {
    height: 180px;
    border: 2px solid;
    border-color: #e7edf4;
}
.new-blog-header {
    height: 70%;
    background-color: #ffffff;
}
.new-blog-footer {
    height: 30%;
    background-color: #66bb6a;
    cursor: pointer;
}
.new-blog-header h4 {
    font-size: 17px;
    color: #868b8f;
    text-align: left;
}
.new-blog-header p {
    font-size: 13px;
    color: #66bb6a;
    text-align: left;
    font-weight: bold;
}
.new-blog-left-header {
    margin-left: 20px;
    margin-top: 20px;
}
.new-blog-right-header {
    text-align: center;
    margin-top: 35px;
    margin-left: -20px;
}
.new-blog-footer p {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 15px;
}
/* popup */

.popup-btn-add {
	height: 49px;
	width: 100px;
	background-color: #3ccffb;
	color: #fff;
}
.popup-btn-add:hover {
	background-color: #fff;
	color: #3ccffb;
	border: 1px solid;
	border-color: #3ccffb;
}
.popup-btn-add:focus {
	background-color: #fff;
	color: #3ccffb;
	border: 1px solid;
	border-color: #3ccffb;
}
.popup-btn-close {
	height: 49px;
	width: 100px;
	background-color: #66bb6a;
	color: #fff;
}
.popup-btn-close:hover {
	background-color: #fff;
	color: #66bb6a;
	border: 1px solid;
	border-color: #66bb6a;
}
.popup-btn-close:focus {
	background-color: #fff;
	color: #66bb6a;
	border: 1px solid;
	border-color: #66bb6a;
}
.arrow-menu-btn {
    padding-left: 18px;
}
.recipes-list {
	border-bottom: 1px solid;
	border-color: #dfe8f1;
	background-color: #fff;
}
.recent-group {
	margin-top: 10px;
	border: 1px solid #dfe8f1;
}
.recent-group ul {
	background-color: #cccccc;
	border: none;
}
.recent-group .tab-pane {
	background-color: #FFFFFF;
}
.recent-group .tab-active {
	border-radius: 0;
	border: none !important;
}
.recent-nav {
	border-bottom: 1px solid #5bd7fc;
	padding-bottom: 5px;
}
.recent-group .media {
    padding-bottom: 15px;
	border-bottom: 1px solid #dfe8f1;
}
.tab-pane {
	padding: 15px;
}
.mini-image {
	padding-top: 5px;
}
.media-heading {
	font-family: 'Lato', sans-serif;
}
.media-body p {
    font-family: 'Lato', sans-serif;
}
.recent-group .media:last-child {
    border: 0;
}
