.recipes-step {
	margin-top: 80px;
	background-color: #eee;
}
.recipes-step h2 {
	font-weight: bold;
    color: #999;
}
.input-choose-file {
	margin-top: 25px;
}

/* buttons */
.steps-btn-add {
	float: right;
	height: 49px;
	width: 100px;
	background-color: #66bb6a;
	color: #fff;
	margin-top: 25px;
}
.steps-btn-add:hover {
	background-color: #fff;
	color: #66bb6a;
	border: 1px solid;
	border-color: #66bb6a;
}
.steps-btn-add:focus {
	background-color: #fff;
	color: #66bb6a;
	border: 1px solid;
	border-color: #66bb6a;
}
.steps-btn-submit {
	height: 49px;
	width: 180px;
	background-color: #3ccffb;
	color: #fff;
	margin-top: 25px;
}
.steps-btn-submit:hover {
	background-color: #fff;
	color: #3ccffb;
	border: 1px solid;
	border-color: #3ccffb;
}
.steps-btn-submit:focus {
	background-color: #fff;
	color: #3ccffb;
	border: 1px solid;
	border-color: #3ccffb;
}
