.step {
	margin-top: 40px;
}
.title h2 {
	float: left;
	font-family: 'Lato', sans-serif;
	color: #9d9d9d;
	font-weight: bold;
	margin: 0px;
}
.title h3 {
	float: left;
	height: 100%;
	line-height: 100%;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	padding-left: 10px;
	color: #9d9d9d;
	font-weight: 400;
}
.images {
	margin-top: 20px;
}
.description {
	margin-top: 20px;
}
.description p {
	font-size: 18px;
	color: #a8b8bd;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
@media screen and (max-width: 414px) {
	.step {
		text-align: center;
	}
	.title h3 {
		float: none !important;
		padding-left: 0px !important;
	}
	.title h2 {
		float: none !important;
	}
}
.edit-recipe-title {
	margin-top: 80px;
}
.edit-recipe-title input {
	color: #a8b8bd;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.edit-recipe-title .input-group-addon:first-child {
	color: #fff;
	background-color: #5bd7fc;
	border-color: #5bd7fc;
}
.edit-recipe-title-decription {
	margin-top: 30px;
	color: #808080;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.steps-btn-add {
	background-color: #5bd7fc;
	color: #fff;
	height: 49px;
    width: 100px;
}
.input-images {
	margin-top: 30px;
}
.back-to-top {
	background-color: #5bd7fc;
	border-color: #5bd7fc;
}
.back-to-top:hover {
	background-color: #5bd7fc;
	border-color: #5bd7fc;
}
.back-to-top:focus {
	background-color: #5bd7fc;
	border-color: #5bd7fc;
}
.back-to-top:active {
	background-color: #5bd7fc !important;
	border-color: #5bd7fc !important;
}
.arrow-menu-btn {
    padding-left: 18px;
}
.recipe-dec textarea {
	min-height: 200px;
}
.disquas {
	margin-bottom: 50px;
}