@media screen and (max-width: 991px) {
	.search-results {
		text-align: center !important;
	}
	.img-responsive {
		display: -webkit-inline-box !important;
	}
	.search h3 {
		margin-top: 20px !important;
	}
	.sr p {
		margin-top: 20px !important;
	} 
}

.sr p {
	font-size: 16px;
	font-weight: bold;
	color: #cccccc;
	margin-top: 60px;
}
.search {
	/*margin-top: 50px;*/
	/*padding-bottom: 50px;*/
}
.search h3 {
	color: #808080;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin-top: 0px;
}
.search p {
	color: #a8b8bd;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.btn-read-more {
    color: #5bd7fc !important;
    background-color: #fff;
    border: 1px solid;
    border-color: #5bd7fc;
    height: 49px;
    font-size: 13px;
}
.btn-read-more:hover {
    background-color: #5bd7fc;
    color: #fff !important;
    border: 2px solid;
    border-color: #5bd7fc;
}
.read-later-latest-blog {
	height: 49px;
    line-height: 49px;
}
.read-later-latest-blog a {
    text-decoration: none;
}
.read-later-latest-blog p {
    color: #a8b8bd;
    font-size: 14px;
}
.read-later-latest-blog p:hover {
    color: #81c784;
}
.search-buuton-read-leater {
	margin-top: 54px;
}
.blogs-search h2 {
	color: #808080;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
.search-container {
	padding-top: 80px;
	height: 250px;
	background: #5bd7fc;
	color: #FFFFFF;
}
.search-container h1 {
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	color: #FFFFFF;
	font-weight: 400;
}