.slides-container {
    margin-top: 50px;
}

.slide-admin-title {
    color: #a8b8bd;
}
@media screen and (max-width: 767px) {
    .btn-add {
        margin-bottom: 10px;
    }
    .add-btn {
        float: left;
    }
}

.arrow-menu-btn {
    padding-left: 18px;
}

.users-row {
    height: 50px;
}

.users-row img {
    height: 50px;
    line-height: 50px;
}

.panel-users {
    color: #fff !important;
    background-color: #5bd7fc !important;
}

.panel-default-users {
    margin-top: 80px;
    border: none !important;
    box-shadow: 0px 10px 38px rgba(136, 136, 136, 0.36);
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle !important;
}


/*.group-btn button {
	height: 30px;
	width: 100px;
	background-color: #5bd7fc;
	color: #fff;
}
.group-btn  p {
	color: #a8b8bd;
	margin: 0;
    margin-left: 25px;
    margin-top: -30px;
    padding-top: 12px;
}
.group-btn  i {
	float: left;
}*/

.asdfg p {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    color: #808080;
    font-family: 'Lato', sans-serif;
}

.username {
    font-size: 14px;
    font-weight: 300;
    margin-top: 15px;
    color: #808080;
    font-family: 'Lato', sans-serif;
}

.email {
    font-size: 14px;
    font-weight: 300;
    margin-top: 15px;
    color: #808080;
    font-family: 'Lato', sans-serif;
}

.selects select {
    /*
	background-color: #5bd7fc;
	color: #fff;
    border: none;*/
    height: 35px;
    width: 80px;
}

.selects select {
    /*
	background-color: #5bd7fc;
	color: #fff;
    border: none;*/
    height: 35px;
    width: 80px;
}

.role-head-label {
    padding: 10px 27px;
    background-color: #5bd7fc;
    border-radius: 4px;
}

.btn-role {
    text-align-last: center;
    border-color: #5bd7fc;
    color: #fff;
    background-color: #5bd7fc;
    border-radius: 4px;
}

.btn-role option {
    color: #666666;
    font-weight: bold;
    padding: 5px
}

.btn-role option:hover {
    color: #2D9FFC
}

.dropdown-button-action {
    width: 70px;
    height: 35px;
    background-color: #cccccc;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.dropdown-button:hover {
    color: #a8b8bd;
}

.dropdown-button:focus {
    color: #a8b8bd;
}

.dropdown-button-action {
    width: 70px;
    height: 35px;
    background-color: #cccccc;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.dropdown-button-action:hover {
    color: #fff;
    background-color: #c3c2c2;
}

.dropdown-button-action:focus {
    color: #fff;
}

.dropdown-button-action p {
    font-size: 12px !important;
    color: #fff !important;
}

.wishlist-admin-left {
    border: 1px solid;
    border-color: #dfe8f1;
    border-radius: 2px;
    background-color: transparent;
    color: #a8b8bd;
}

.wishlist-admin-left h4 {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
}

.wishlists-list {
    border-bottom: 1px solid;
    border-color: #dfe8f1;
    padding-bottom: 17px;
}

.dropdown-button {
    width: 70px;
    height: 35px;
    border: 1px solid;
    border-color: #e6e6e6;
    background-color: #fff;
    color: #a8b8bd;
    font-family: 'Lato', sans-serif;
}

.dropdown-button:hover {
    color: #a8b8bd;
}

.dropdown-button:focus {
    color: #a8b8bd;
}

.ab-records p {
    font-size: 13px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    height: 35px;
    line-height: 35px;
}

.input-search {
    float: right;
    border: 1px solid #fff;
    border-color: #e6e6e6;
    border-radius: 2px;
    background-color: #fff;
}

.input-search input {
    border: none;
    color: #cdcdcd;
    margin-left: 30px;
    width: 190px;
    height: 35px;
    line-height: 35px;
}

.input-search i {
    position: absolute;
    padding-left: 5px;
    color: #cdcdcd;
    pointer-events: none;
    height: 35px;
    line-height: 35px;
}

.blogs {
    border: 1px solid;
    border-color: #dfe8f1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.blogs p {
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    color: #a8b8bd;
}

.blogs h5 {
    margin-top: 0px;
    color: #808080;
}

.btn-add {
    height: 35px;
    width: 70px;
    background-color: #fff;
    color: #a8b8bd;
}

.btn-add:hover {
    background-color: #fff;
    color: #a8b8bd;
}

.btn-add:focus {
    background-color: #fff;
    color: #a8b8bd;
}

.edit-recipe-title-decription h3 {
    margin-top: 50px;
    color: #808080;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.btn-enable {
    width: 70px;
    height: 30px;
    font-size: 10px;
}

.btn-delete {
    height: 30px;
    font-size: 10px;
    width: 70px;
}

.buttons {
    text-align: center;
    margin-top: 10px;
}

.new-blog {
    height: 180px;
    border: 2px solid;
    border-color: #e7edf4;
}

.new-blog-header {
    height: 70%;
    background-color: #ffffff;
}

.new-blog-footer {
    height: 30%;
    background-color: #d35400;
    cursor: pointer;
}

.new-blog-header h4 {
    font-size: 17px;
    color: #868b8f;
    text-align: left;
}

.new-blog-header p {
    font-size: 13px;
    color: #d35400;
    text-align: left;
    font-weight: bold;
}

.new-blog-left-header {
    margin-left: 20px;
    margin-top: 20px;
}

.new-blog-right-header {
    text-align: center;
    margin-top: 35px;
    margin-left: -20px;
}

.new-blog-footer p {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 15px;
}

.new-blog-footer p {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 15px;
}

.new-blog-footer p {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 15px;
}

.new-blog-footer p {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 15px;
}

.new-blog-footer p {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 15px;
}

.slide-admin-left {
    border-radius: 2px;
    min-height: 180px;
    background-color: #2ecc71;
}
.slide-admin-right {
    margin-top: -80px;
}
@media screen and (max-width: 991px) {
    .input-search {
        float: left !important;
    }
    .slide-admin-right {
        margin-top: 0;
    }
    .mq-new-blog {
        padding-top: 5%;
    }
    .new-blog-left-header {
        float: left;
        margin-left: 5%;
    }
    .new-blog-right-header {
        float: right;
        margin-right: 5%;
    }
    .new-blog-left-footer {
        float: left;
        margin-left: 5%;
    }
    .new-blog-right-footer {
        float: right;
        margin-right: 5%;
        margin-top: 15px;
    }
}