[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html {
    position: relative;
    /*min-height: 100%;*/
    height: 100%;
    box-sizing: border-box;
}


a {
    cursor: pointer;
}

.black-font {
    font-weight: bold;
}

.title {
    font-size: 15px;
    font-family: Lato;
    color: #ffffff;
}
/*========================================================
                      Bootstrap Slider
=========================================================*/

/*========================================================
                       Bootstrap Nav Menu
=========================================================*/
.navbar {box-shadow: 0px 10px 38px rgba(136, 136, 136, 0.36);}
.navbar-brand {padding: 0 15px; height: 100px; line-height: 100px;}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
    margin: 0;
}
*:focus {
    outline: none;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #cccccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #cccccc;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #cccccc;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #cccccc;
}
.btn.active.focus, .btn.active:focus,
.btn.focus, .btn:active.focus,
.btn:active:focus, .btn:focus {
    outline: none;
}
/*========================================================
                      Custom css
=========================================================*/
@media screen and (max-width: 1024px) and (min-width: 991px) {
    .btn-explore {
        margin-left: -40px !important;
    }
    .btn-login {
        margin-left: -20px !important;
    }
    .menu-tos p {
        margin-left: -15px !important;
    }
}

@media screen and (max-width: 414px) {

    .mq-latest img {
        padding-left: 15%;
        padding-right: 15%;
    }
    .mq-latest p {
        text-align: center;
    }
    .mq-featured {
        text-align: center;
        margin-bottom: 30px;
    }
    .mq-featured p {
        text-align: center;
    }
    .mq-featured h1 {
        text-align: center;
    }
    .mq-featured-a{
        text-align: center;
    }
    .img-responsive {
        display: initial;
        text-align: center;
    }
    .home-categories {
        height: 515px !important;
    }
    .latest-content h1 {
        text-align: center;
    }
    .btn-read-more-latest {
        float: none !important;
    }
    .mq-latest {
        margin-top: 30px;
        text-align: center !important;
    }
}
/*@media screen and (max-width: 425px) {
    .btn-explore {
        margin-right: -65px;
    }
}*/
@media screen and (max-width: 991px) {
    .footer-left img {
        text-align: center;
    }
    .footer-center {
        text-align: center !important;
    }
    .explore-btn {
        text-align: center !important;
    }
    .login-btn {
        text-align: center !important;
    }
    .footer-categories {
         margin-top: 0 !important;
    }
    #footer {
        height: 315px !important;
    }
    .social {
        margin-top: 2px !important;
    }
    .sponsore1 {
        margin-top: 20px !important;
    }
    .sponsore2 {
        margin-top: 20px !important;
    }
    .title-latest-content-blog {
        margin-top: 20px !important;
    }
    .latest-content-blog {
        margin-top: 20px !important;
    }
    .mq-user-img img {
        margin-top: 20px;
    }
    .social {
        float: left;
    }
    .blog-view {
        margin-top: 30px !important;
    }
    .social-icons {
        margin-top: 10px !important;
    }
    .sponsore1 {
        width: 100% !important;
    }
    .sponsore2 {
        width: 100% !important;
    }
    .latest-blog h4 {
        margin-top: 10px !important;
    }
    .featured-content-blog h1 {
        margin-top: 10px !important;
    }
    .btn-login {
        margin-left: 0px !important;
    }
    .btn-read-more-latest {
        margin-top: 5px !important;
        float: none !important
    }
    .mq-latest {
        margin-top: 30px;
        text-align: center !important;
    }
    .mq-featured {
        text-align: center !important;
    }
    .title-featured-content {
        margin-top: 25px !important
    }
}
@media screen and (max-width: 1199px) {
    .mq-featured {
        width: 100% !important;
    }
    .button-read-more {
        padding-top: 0px !important;
    }
    .btn-load-more {
        width: 160px !important;
    }
    .title-latest-content-blog {
        margin-top: 50px !important;
    }
    .description-blog {
        margin-top: 15px !important;
    }
    .btn-categories {
        margin-top: 15px;
    }
    .btn-login {
        margin-left: 20px;
    }
    .footer-right p {
        font-size: 12px !important;
    }
    .footer-right a {
        font-size: 11px !important;
    }
}

.search-input {
    height: 34px;
    width: 100%;
    background-color: transparent;
    padding: 6px 12px;
    background-image: none;
    border: none;
    border-bottom: 2px solid #e6e6e6;
}
.input-search:focus {
    border-bottom: 2px solid #5bd7fc;
    color: #5bd7fc !important;
}
.btn-explore {
    height: 49px;
    width: 96px;
    color: #fff;
    background-color: #5bd7fc;
    font-size: 13px;
}
.btn-explore:hover {
    color: #fff;
    background-color: #29ccfd;
}
.btn-login {
    height: 49px;
    width: 96px;
    color: #fff;
    background-color: #a8b8bd;
    font-size: 13px;
}
.btn-login:hover {
    color: #fff;
    background-color: #94a2a6;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
}
.menu-about {
    text-align: center;
    height: 70px;
    color: #a8b8bd;
    font-size: 16px;
}
.menu-contact {
    text-align: center;
    height: 70px;
    color: #a8b8bd;
    font-size: 16px;
    background-color: #fff;
}
.menu-tos {
    text-align: center;
    height: 70px;
    color: #a8b8bd;
    font-size: 16px;
    background-color: #fff;
}
.inner-addon {
    position: relative;
}
.inner-addon .fa-search {
    position: absolute;
    bottom: 10px;
    color: #d1eef6;
    pointer-events: none;
}
.left-addon .search-fa {
    color: #5bd7fc;
}
.left-addon input  {
    padding-left:  30px;
    color: #e6e6e6;
}

.menu-active {
    border-bottom: 2px solid #5bd7fc;
}
/*========================================================
                      CONTENT
=========================================================*/

/*========================================================
                      Featured content
=========================================================*/

.title-featured-content {
    margin-top: 50px;
}
.title-featured-content p {
    font-size: 16px;
    font-weight: bold;
    color: #cccccc;
    font-family: 'Lato', sans-serif;

}
.featured-content {
    margin-top: 50px;
    margin-bottom: 50px;
}
.featured-content h1 {
    color: #808080;
    font-size: 37px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    margin-top: 0px;
}
.featured-content p {
    font-size: 15px;
    color: #bbc7cb;
    margin-top: 15px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
.featured-content a {
    text-decoration: none;
    color: #5bd7fc;
    font-size: 13px;
}
.mq-featured img:hover {
    opacity: 0.5;
}

/*========================================================
                      Latest content
=========================================================*/

.title-latest-content {
    margin-top: 115px;
}
.title-latest-content p {
    font-size: 16px;
    font-weight: bold;
    color: #a8b8bd;
}

.latest-content p {
    font-size: 18px;
    font-weight: 200;
    margin-top: 15px;
    color: #808080;
    font-family: 'Lato', sans-serif;
}
.latest-content h1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    color: #cccccc;
    font-family: 'Lato', sans-serif;
}
.mq-latest {
    margin-top: 30px;
}
.load-more {
    text-align: center;
}
.btn-load-more {
    height: 49px;
    width: 205px;
    color: #5bd7fc !important;
    background-color: #fff;
    border: 1px solid;
    border-color: #5bd7fc;
    margin-top: 50px;
}
.btn-load-more:hover {
    color: #fff !important;
    background-color: #29ccfd;
}
.tag button {
    margin-top: 30px;
    background-color: #d7d7d7;
    color: #fff;
}
.tag button:hover {
    color: #fff;
}
/*========================================================
                      Categories
=========================================================*/
.home-categories {
    background-color: #5bd7fc;
    height: 335px;
    margin-top: 50px;
    background-image: url("../img/categories.png");
}
.header-categories {
    text-align: center;
}
.header-categories h2 {
    font-size: 30px;
    color: #fff;
    margin-top: 80px;
}
.footer-categories {
    margin-top: 80px;
}
.badge {
    background-color: #49abca !important;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
.badge p {
    margin-top: 7px;
}
.btn-categories {
    background-color: #fff;
    color: #5bd7fc;
    font-size: 16px;
    font-weight: bold;
    margin-left: 3%;
}
.btn-categories:hover {
    color: #5bd7fc;
}
.btn-categories:focus {
    color: #5bd7fc;
}

/*========================================================
                      Blog
=========================================================*/

.mq-user-img img {
    height: 65px;
    width: 65px;
}
.title-featured-content-blog {
    margin-top: 50px;
}
.title-featured-content-blog p {
    font-size: 16px;
    font-weight: bold;
    color: #cccccc;
    font-family: 'Lato', sans-serif;
}
.featured-content-blog {
    margin-top: 50px;
}
.featured-content-blog h1 {
    color: #808080;
    font-size: 37px;
    margin-top: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.featured-content-blog p {
    font-size: 15px;
    color: #a8b8bd;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.btn-read-more {
    color: #5bd7fc !important;
    background-color: #fff;
    border: 1px solid;
    border-color: #5bd7fc;
    height: 49px;
    font-size: 13px;
}
.btn-read-more:hover {
    background-color: #5bd7fc;
    color: #fff !important;
    border: 2px solid;
    border-color: #5bd7fc;
}
.button-read-more {
    padding-top: 65px;
    padding-bottom: 10px;
}
.btn-read-more-recipe {
    color: #5bd7fc !important;
    background-color: #fff;
    border: 1px solid;
    border-color: #5bd7fc;
    width: 90px;
    height: 30px;
    font-size: 10px;
}
.btn-read-more-recipe:hover {
    background-color: #5bd7fc;
    color: #fff !important;
    border: 2px solid;
    border-color: #5bd7fc;
}
.btn-recipe-read-more {
    text-align: center;
}
.btn-read-more-latest {
    color: #5bd7fc !important;
    background-color: #fff;
    border: 1px solid;
    border-color: #5bd7fc;
    width: 120px;
    height: 49px;
    font-size: 13px;
    margin-top: 30px;
    float: right;
}
.btn-read-more-latest:hover {
    background-color: #5bd7fc;
    color: #fff !important;
    border: 2px solid;
    border-color: #5bd7fc;
}
.title-latest-content-blog {
    margin-top: 50px;
}
.title-latest-content-blog p {
    font-size: 16px;
    color: #cccccc;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.latest-content-blog {
    margin-top: 20px;
}
.latest-blog {
    margin-top: 30px;
}
.latest-blog h4 {
    font-size: 22px;
    color: #808080;
    margin-top: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.latest-blog p {
    color: #a8b8bd;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.btn .badge {
    position: relative;
    top: -17px;
    left: 27px;
    font-size: 12px;
}
.badge {
    color: #fff;
    background-color: #5bd7fc;
}
.date-latest-blog p {
    color: #a8b8bd;
    font-size: 14px;
}
.user-latest-blog p {
    color: #5bd7fc;
    font-size: 14px;
}
.read-later-latest-blog a {
    text-decoration: none;
}
.read-later-latest-blog p {
    color: #a8b8bd;
    font-size: 14px;
}
.read-later-latest-blog p:hover {
    color: #81c784;
}
.footer-latest-blog {
    margin-top: 50px;
}

/*========================================================
                      Blog view
=========================================================*/

.blog-view {
    margin-top: 50px;
}
.blog-view h1 {
    color: #808080;
    font-size: 27px;
    margin-top: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.social-icons {
    margin-top: 40px;
}
.social-icons p {
    font-size: 12px;
    color: #a8b8bd;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
.social-btn {
    padding: 0px !important;
    background-color: #a8b8bd;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #fff;
}
.social-btn:hover {
    background-color: #5bd7fc;
}
.social-btn span {
    margin-top: 5px;
}
.description-blog {
    font-size: 15px;
    color: #a8b8bd;
    margin-top: 50px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
.sponsore1 {
    border: 2px solid;
    border-color: #d9dee7;
    height: 112px;
    border-radius: 12px;
    width: 49%;
    margin-right: 2%;
    margin-top: 115px;
}
.sponsore2 {
    border: 2px solid;
    border-color: #d9dee7;
    height: 112px;
    border-radius: 12px;
    width: 49%;
    margin-top: 115px;
}
.user-blog-view h4 {
    color: #5bd7fc;
    font-size: 16px;
    font-weight: bold;
}
.user-blog-view p {
    color: #a8b8bd;
}
.user-description p {
    color: #a8b8bd;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.asdf img {
    margin-top: 20px;
}
.social {
    margin-top: -6px;
}

/*========================================================
                      Footer
=========================================================*/
.footer-left {
    margin-top: 55px;
}
.footer-left a {
    text-decoration: none;
    color: #9f9e9e;
}
.footer-right {
    margin-top: 40px;
}
.footer-right a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.footer-right p {
    font-size: 14px;
    color: #9a9999;
    margin-top: 10px;
}

#footer {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
}

.social-btn-footer {
    padding: 0px !important;
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #4d4d4d;
}
.social-btn-footer:hover {
    background-color: #5bd7fc;
}
.social-btn-footer span {
    margin-top: 4px;
}
.fa-circle {
    font-size: 6px !important;
    margin-top: -4px;
    margin-right: 5px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
    height: 130px;
}
#footer {
    background-color: #4d4d4d;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {/*
        margin-left: -20px;
        margin-right: -20px;*/
        padding-left: 20px;
        padding-right: 20px;
    }
}
.mq-featured-a {
    margin-top: 28px;
}
.social-footer-icons {
    margin-top: 4px;
}
.blog-username p {
    font-size: 12px;
    color: #5bd7fc;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.recipe-image:hover {
    opacity: 0.5;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}
.recipe-dec {
    width: 100%;
}
.mini-image {
    max-width: 100px;
}
.tab-pane {
    padding-top: 20px;
}
.not-have-read {
    margin-top: 100px;
    margin-bottom: 55px;
    color: #a8b8bd;
}
.recipe-steps-title {
    margin-top: 0px !important;
}
#sidebar-wrapper {
    box-shadow: 0px 0px 25px;
}
.media {
    cursor: pointer;
}
.cursor-pointer {
    cursor: pointer;
}
.recipe-image {
    max-height: 116px;
    margin: 0 auto;
}
.front-logo {
    margin-top: 30px;
}
.spinner:before {
    background-color: rgba(49, 37, 37, 0.2);
    border-radius: 6px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    content: " ";
}
.admin-side-logo {
    margin-top: 45px;
}
.vr {
    border-right: 1px solid #eee;
    padding-right: 5px;
}
.clear-fa {
    position: absolute;
    bottom: 10px;
    color: #d1eef6;
    right: 5px;
    cursor: pointer;
}
.center-date {
    height: 49px;
    line-height: 49px;
    color: #a8b8bd;
}
.menu-item {
    color: #a8b8bd;
}
.menu-item.menu-link {
    padding-top: 17px;
    padding-bottom: 17px;
}
.menu-item > a {
    color: #a8b8bd;
    text-decoration: none;
    font-size: 12pt;
}
.menu-item > a:visited {
    color: #a8b8bd;
}
.left-arrow-margin {
    margin: 18px 0;
}
.newsletter-title {
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.newsletter-body {
    position: relative;
    height: 340px;
    background-image: url("../img/newsletter-background.png");
}
.newsletter-input {
    padding-top: 10px;
    color: #FFFFFF;
    border: none;
    background: transparent;
    border-bottom: 1px solid #FFFFFF;
}

.newsletter-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #FFFFFF;
}
.newsletter-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #FFFFFF;
    opacity:  1;
}
.newsletter-input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FFFFFF;
    opacity:  1;
}
.newsletter-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #FFFFFF;
}
.subscribe-btn {
    top: 90px;
    left: 44%;
    width: 160px;
    height: 50px;
    color: #58d5fa !important;
    font-size: 13px;
    background: #FFFFFF;
    font-family: 'Lato', sans-serif;
    position: absolute;
}
.col-xs-12 .subscribe-btn  {
    top: 50px;
}
.subscribe-btn:hover {
    color: #58d5fa !important;
    background: #f3f3f3;
}
.newsletter-group .col-xs-12 {
    max-height: 35px;
}
.paper-plane {
    position: absolute;
    right: 15%;
    bottom: 20%;
}
.recent-categories-title {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #5bd7fc;
}
.category-btn {
    margin-bottom: 10px;
    border-radius: 20px;
    background: #FFFFFF;
    border: 1px solid #a8b8bd;
    color: #a8b8bd;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin-right: 5px;
}
.category-btn:hover {
    background: #5bd7fc;
    border: none;
    color: #FFFFFF;
    box-shadow: 0px 5px 7px rgba(136, 136, 136, 0.47);
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.design-disqus {
    margin-bottom: 50px;
}
.header-img img {
    height: 43px;
    width: 43px;
}
.single-blog-right {
    margin-top: 50px;
}

html,
body {
    margin:0;
    padding:0;
    height:100%;
}
#body {
    padding:10px;
    padding-bottom:130px;   /* Height of the footer */
}
#footer {
    position:relative !important;
    bottom:0;
    width:100%;
    height:130px;   /* Height of the footer */
}
.mainContent {
    height:100%;
}