@media screen and (max-width: 991px) {
    /* total tags */
    .new-category-tag-left-header {
        float: left;
        margin-left: 5%;
    }
    .new-category-tag-right-header {
        float: right;
        margin-right: 5%;
    }
    .new-category-tag-left-footer {
        float: left;
        margin-left: 5%;
    }
    .new-category-tag-right-footer {
        float: right;
        margin-right: 5%;
        margin-top: 15px;
    }
    .mq-total-tags {
        padding-top: 5%;
    }
}
@media screen and (max-width: 767px) {
    .input-search {
        margin-left: 10px !important;
        margin-bottom: 5px;
    }
}
.tags-cat-title {
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    color: #808080;
}
.green-color-text {
    color: #66bb6a !important;
}
.green-color-background {
    background-color: #66bb6a !important;
}
.new-category-tag {
    margin-bottom: 40px;
    height: 180px;
    border: 2px solid;
    border-color: #e7edf4;
}
.new-category-tag-header {
    height: 70%;
    background-color: #ffffff;
}
.new-category-tag-footer {
    height: 30%;
    background-color: #ffa726;
    cursor: pointer;
}
.new-category-tag-header h4 {
    font-size: 17px;
    color: #868b8f;
    text-align: left;
}
.new-category-tag-header p {
    font-size: 13px;
    color: #ffa726;
    text-align: left;
    font-weight: bold;
}
.new-category-tag-left-header {
    margin-left: 20px;
    margin-top: 20px;
}
.new-category-tag-right-header {
    text-align: center;
    margin-top: 35px;
    margin-left: -20px;
}
.new-category-tag-footer p {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 15px;
}
.categories {
    border: 1px solid;
    border-color: #dfe8f1;
    border-radius: 2px;
    background-color: #fff;
}

.title-categories h4 {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #a8b8bd;
    margin-top: 20px;
    margin-left: 12px;
}
.tags {
    border: 1px solid;
    border-color: #dfe8f1;
    border-radius: 2px;
    height: 400px;
    background-color: #fff;
}
.title-tags h4 {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #a8b8bd;
    margin-top: 20px;
    margin-left: 12px;
}
.dropdown-button {
    width: 70px;
    height: 35px;
    border: 1px solid;
    border-color: #e6e6e6;
    background-color: #fff;
    color: #a8b8bd;
    font-family: 'Lato', sans-serif;
}
.dropdown-button:hover {
    color: #a8b8bd;
}
.dropdown-button:focus {
    color: #a8b8bd;
}
.ab-records p {
    font-size: 11px;
    color: #a8b8bd;
    font-family: 'Lato', sans-serif;
    height: 35px;
    line-height: 35px;
    margin-left: 10px;
    padding-left: 10px;
}
.input-search {
    float: left;
    border: 1px solid #fff;
    border-color: #e6e6e6;
    border-radius: 2px;
    background-color: #fff;
    margin-left: -30px;
}
.input-search input {
    border: none;
    color: #cdcdcd;
    margin-left: 30px;
    width: 120px;
    height: 35px;
    line-height: 35px;
}
.input-search i {
    position: absolute;
    padding-left: 5px;
    color: #cdcdcd;
    pointer-events: none;
    height: 35px;
    line-height: 35px;
}
::-webkit-input-placeholder {
    color: #cdcdcd;
}
.title-categories .btn-group {
    margin-left: 10px;
}
.categories-header {
    border-bottom: 1px solid;
    border-color: #dfe8f1;
}
.blogs img {
    margin-top: 10px;
    padding: 5px;
    margin-left: 10px;
}
.categories-content {
    border-bottom: 1px solid;
    border-color: #dfe8f1;
}
.cat-tag-btn {
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin: 20px 10px;
    background-color: #FFFFFF;
    color: #a8b8bd;
    border: 1px solid #a8b8bd;
}
.cat-tag-btn:focus {
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin: 20px 10px;
    background-color: #FFFFFF;
    color: #a8b8bd;
    border: 1px solid #a8b8bd;
}
.cat-tag-btn:hover {
    background-color: #5bd7fc;
    color: #FFFFFF;
    border: 1px solid #5bd7fc;
    box-shadow: 3px 3px 15px #888888;
}
.cat-tag-btn .badge {
    background-color: #a8b8bd !important;
}
.cat-tag-btn:hover .badge {
    background-color: #49abca !important;
}

.group-btn {
    float: right;
    padding-right: 20px;
}
.dropdown-button-action {
    margin-top: 20px;
    width: 70px;
    height: 35px;
    background-color: #cccccc;
    color: #fff;
    font-family: 'Lato', sans-serif;
}
.tags-categories {
    margin-top: 50px;
}
.tags-categories h3 {
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    color: #808080;
}
.tags-categories h3 span {
    font-size: 16px;
    font-family: "Lato Light";
    color: #49abca;
}
.tags-categories .subtitle {
    font-size: 14px;
    font-family: "Lato Light";
    color: #9f9e9e;
}
.categories-admin-title {
    margin-left: 0px;
}
.categories-admin-title h2{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    color: #808080;
}
.categories-tags-content {
    margin-top: 40px;
}
.breadcrumb {
    margin-left: -15px;
}