#footer {
    position: absolute !important;
}
#wrapper {
    /*padding-bottom: 240px;*/
}
.thank-you h1 {
    margin-top: 10%;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: #5bd7fc;
}
.thank-you p {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #afbdc2;
}
.thank-you .mailbox-icon {
    margin-top: 2%;
}