.wish-list-container {
    margin-top: 50px;
}

@media screen and (max-width: 991px) and (min-width: 670px) {
    .dropdown-menu {
        margin-left: 300px;
    }
}
@media screen and (max-width: 670px) and (min-width: 576px) {
    .dropdown-menu {
        margin-left: 255px;
    }
}
@media screen and (max-width: 576px) and (min-width: 480px) {
    .dropdown-menu {
        margin-left: 210px;
    }
}
@media screen and (max-width: 480px) and (min-width: 300px) {
    .dropdown-menu {
        margin-left: 110px;
    }
}
@media screen and (max-width: 1199px) {
    .wishlist-admin-date p {
        font-size: 11px !important;
    }
    .wishlist-admin-user p {
        font-size: 11px !important;
    }
    .wishlists p {
        font-size: 10px !important;
    }
    .ab-records p {
        font-size: 10px !important;
    }
}

/* staro */
@media screen and (max-width: 991px) {
    .wishlistss .col-sm-12 {
        text-align: center;
    }
    .new-wishlist-left-header {
        float: left;
        margin-left: 5%;
    }
    .new-wishlist-right-header {
        float: right;
        margin-right: 5%;
    }
    .new-wishlist-left-footer {
        float: left;
        margin-left: 5%;
    }
    .new-wishlist-right-footer {
        float: right;
        margin-right: 5%;
        margin-top: 15px;
    }
    .mq-new-wishlist {
        padding-top: 5%;
    }
    .input-search {
        float: left !important;
    }
    .btn-edit {
        float: left !important;
    }
    .group-btn {
        float: left !important;
        padding-left: 20px !important;
    }
    .btn-view-wishlist {
        float: left !important;
        margin-left: 20px !important;
    }
    .wishlist-admin-right {
        margin-top: 0px !important;
    }
    .wishlists h5 {
        margin-top: 40px !important;
    }
    .wishlistss {
        margin-top: -22px !important;
    }
    .wishlist-admin-date {
        float: left !important;
    }
    .wishlist-admin-by {
        float: left !important;
    }
    .wishlist-admin-user {
        float: left !important;
    }
}
@media screen and (max-width: 768px){
    .wishlistss {
        margin-top: 20px !important;
    }
    .wishlistss .col-xs-12 {
        margin-top: 0px !important;
    }
}
.wishlist-admin-title h2{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    color: #808080;
}
.wishlist-admin-title p {
    font-size: 13px;
    color: #9f9e9e;
    font-family: 'Lato', sans-serif;
}
.wishlist-admin {
    margin-top: 50px;
}
.wishlist-admin-left {
    border: 1px solid;
    border-color: #dfe8f1;
    border-radius: 2px;
    margin-top: 40px;
    background-color: #fff;
}
.wishlist-admin-left h4 {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    margin-top: 20px;
}
.wishlist-admin-right {
    margin-top: 40px;
}
.dropdown-button {
    width: 70px;
    height: 35px;
    border: 1px solid;
    border-color: #e6e6e6;
    background-color: #fff;
    color: #a8b8bd;
    font-family: 'Lato', sans-serif;
}
.dropdown-button:hover {
    color: #a8b8bd;
}
.dropdown-button:focus {
    color: #a8b8bd;
}
.dropdown-button-action {
    width: 70px;
    height: 35px;
    background-color: #cccccc;
    color: #fff;
    font-family: 'Lato', sans-serif;
}
.dropdown-button-action:hover {
    color: #fff;
    background-color: #c3c2c2;
}
.dropdown-button-action:focus {
    color: #fff;
}
.dropdown-button-action p {
    font-size: 12px !important;
    color: #fff !important;
}
.btn-edit {
    width: 70px;
    height: 35px;
    background-color: #5bd7fc;
    color: #fff;
    font-family: 'Lato', sans-serif;
}
.btn-edit:hover {
    background-color: #3ccffb;
}
.btn-edit:focus {
    color: #fff;
}
.btn-edit p {
    font-size: 12px !important;
    color: #fff !important;
}
.btn-view-wishlist {
    width: 70px;
    height: 35px;
    background-color: #fff;
    color: #cccccc;
    border: 1px solid;
    border-color: #cccccc;
}
.btn-view-wishlist:hover {
    background-color: #f7f7f7;
}
.btn-view-wishlist:hover {
    color: #cccccc;
}
.btn-view-wishlist:focus {
    color: #cccccc;
}
.btn-view-wishlist p {
    font-size: 12px !important;
    margin-left: -3px;
}
.ab-records p {
    font-size: 13px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    height: 35px;
    line-height: 35px;
}
.input-search {
    float: right;
    border: 1px solid #fff;
    border-color: #e6e6e6;
    border-radius: 2px;
    background-color: #fff;
}
.input-search input {
    border: none;
    color: #cdcdcd;
    margin-left: 30px;
    width: 190px;
    height: 35px;
    line-height: 35px;
}
.input-search i {
    position: absolute;
    padding-left: 5px;
    color: #cdcdcd;
    pointer-events: none;
    height: 35px;
    line-height: 35px;
}
::-webkit-input-placeholder {
    color: #cdcdcd;
}
.wishlists {
    border-bottom: 1px solid;
    border-color: #dfe8f1;
    padding-top: 20px;
    /*margin-top: 50px;*/
}
.wishlists p {
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    color: #a8b8bd;
}
.wishlists h5 {
    margin-top: 0px;
    color: #808080;
}
.wishlist {
    margin-top: 20px;
}
.wishlist p {
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    color: #a8b8bd;
}
.wishlist h5 {
    margin-top: 0px;
    color: #808080;
}
.buttons {
    height: 50px;
    line-height: 50px;
    margin-top: -20px;
}
.wishlist-admin-date p {
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    color: #a8b8bd;
}
.wishlist-admin-user p {
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    color: #5bd7fc;
    font-weight: bold;
}

.new-wishlist {
    height: 180px;
    border: 2px solid;
    border-color: #e7edf4;
}
.new-wishlist-header {
    height: 70%;
    background-color: #ffffff;
}
.new-wishlist-footer {
    height: 30%;
    background-color: #ffa726;
    cursor: pointer;
}
.new-wishlist-header h4 {
    font-size: 17px;
    color: #868b8f;
    text-align: left;
}
.new-wishlist-header p {
    font-size: 13px;
    color: #ffa726;
    text-align: left;
    font-weight: bold;
}
.new-wishlist-left-header {
    margin-left: 20px;
    margin-top: 20px;
}
.new-wishlist-right-header {
    text-align: center;
    margin-top: 35px;
    margin-left: -20px;
}
.new-wishlist-footer p {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 15px;
}

/* popup */

.popup-btn-add {
    height: 49px;
    width: 100px;
    background-color: #3ccffb;
    color: #fff;
}
.popup-btn-add:hover {
    background-color: #fff;
    color: #3ccffb;
    border: 1px solid;
    border-color: #3ccffb;
}
.popup-btn-add:focus {
    background-color: #fff;
    color: #3ccffb;
    border: 1px solid;
    border-color: #3ccffb;
}
.popup-btn-close {
    height: 49px;
    width: 100px;
    background-color: #ffa726;
    color: #fff;
}
.popup-btn-close:hover {
    background-color: #fff;
    color: #ffa726;
    border: 1px solid;
    border-color: #ffa726;
}
.popup-btn-close:focus {
    background-color: #fff;
    color: #ffa726;
    border: 1px solid;
    border-color: #ffa726;
}
.arrow-menu-btn {
    padding-left: 18px;
}
.wishlists-list {
    border-bottom: 1px solid;
    border-color: #dfe8f1;
    background-color: #5bd7fc !important;
}
.recent-group {
    margin-top: 10px;
    border: 2px solid #dfe8f1;
    border-radius: 5px;
}
.recent-group ul {
    border: none;
}
.recent-group .tab-pane {
    background-color: #FFFFFF;
}
.recent-group .tab-active {
    border: none !important;
}
.recent-nav {
    border-bottom: 1px solid #5bd7fc;
    padding-bottom: 5px;
}
.recent-group .media {
    padding-bottom: 15px;
    border-bottom: 1px solid #dfe8f1;
}
.tab-pane {
    padding: 15px;
}
.mini-image {
    padding-top: 5px;
}
.media-heading {
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}
.media-body p {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.header-user {
    background-color: #5bd7fc !important;
}
.pager li a {
    margin-top: 10px;
}
