.content {
	margin-top: 50px;
}
.btn-mark-as-read {
	height: 49px;
	background-color: #3ccffb;
	color: #fff;
	float: right;
}
.btn-go-back {
	height: 49px;
	background-color: #3ccffb;
	color: #fff;
	margin-right: 10px;
	float: right;
}
.content h2 {
    font-family: 'Lato', sans-serif;
    color: #808080;
}
.content p {
	font-size: 13px;
	color: #9f9e9e;
	font-family: 'Lato', sans-serif;
}
.like-icon-in-header {
	margin-top: 10px;
	margin-bottom: 10px;
}