@media screen and (max-width: 1199px) {
    .btn-send-now button {
        margin-top: 30px !important;
    }
    .wish-list-describe p {
        margin-left: 20px !important;
    }
    .wish-list-like1 p {
        margin-right: 20px !important;
    }
    .wish-list-like p {
        margin-right: 20px !important;
    }
    .fa-heart {
        font-size: 20px;
    }
}
.wl-likes i {
    transition: all .3s ease-in-out;
}
@media screen and (max-width: 991px) {
    .wl-likes {
        float: left;
    }
    .wish-list-like p {
        margin-left: 10px;
    }
    .wish-list-like {
        margin-top: 0px !important;
    }
    .wish-item1 {
        margin-top: 0px !important;
    }
    .btn-send-now button {
        margin-top: 85px !important;
    }
    .wish-list-describe p {
        margin-left: 10px !important;
    }
}
@media screen and (max-width: 747px) {
    .btn-send-now button {
        margin-top: 85px !important;
    }
}
@media screen and (max-width: 723px) {
    .btn-send-now button {
        margin-top: 50px !important;
    }
}
@media screen and (max-width: 414px) {
    .btn-send-now button {
        margin-top: 50px !important;
    }
    .wish-list-describe {
        margin-left: 40px !important;
    }
    .wish-list-describe p {
        font-size: 13px !important;
    }
}
@media screen and (max-width: 411px) {
    .btn-send-now button {
        margin-top: 50px !important;
    }

}
@media screen and (max-width: 354px) {
    .btn-send-now button {
        margin-top: 5px !important;
    }

}
.wish-list-content {
	height: 440px;
	background-color: #5bd7fc;
}
.send-wish h2 {
	color: #fff;
	text-align: center;
    margin-top: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.wish-list-input1 {
	text-align: center;
    margin-top: 20px;
}
.wish-list-input1 input{
	width: 60%;
    margin-top:15px;
    height: 40px;
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    background-color: #5bd7fc;
    font-weight: 300;
}
.wish-list-input2 {
    text-align: center;
    margin-top: 20px;
}
.wish-list-input2 input{
    width: 60%;
    margin-top:15px;
    height: 40px;
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    background-color: #5bd7fc;
}
.wish-list-input2 textarea {
    width: 60%;
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    background-color: #5bd7fc;
    resize: none;
}
.wish-list-describe p{
    margin-top: 20px;
    text-align: center;
    color: #fff;
    width: 60%;
    font-size: 16px;
    margin-left: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.btn-send-now {
    text-align: center;
}
.btn-send-now button{
    color: #5bd7fc;
    width: 140px;
    height: 49px;
    border: none;
    margin-top: 65px;
    box-shadow: 0px 0px 13px #d4cfcf;
}
.btn-send-now button:hover {
    background-color: #fff;
    color: #5bd7fc;
}
.wishes-of-users {
    text-align: center;
}
.wish-list-down-content {
    margin-top: 50px;
    margin-bottom: 50px;
}
.wish-list-down-content h2 {
    text-align: center; 
    color: #808080;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.wish-item1 {
    border: 1px solid;
    border-color: #eceff1;
    height: 55px;
    line-height: 55px;
    margin-top: 35px;
}
.wish-item1 p {
    color: #cfd8dc;
    font-size: 16px;
}
.wish-item1:hover {
    border-color: #cfd8dc;
}
.wish-item {
    border: 1px solid;
    border-color: #eceff1;
    height: 55px;
    line-height: 55px;
    margin-top: 20px;
}
.wish-item p {
    color: #cfd8dc;
    font-size: 16px;
}
.wish-item:hover {
    border-color: #cfd8dc;
}
.wish-list-like1 {
    margin-top: 35px;
    line-height: 55px;
    margin-top: 20px;
}
.wish-list-like1 p {
    float: right;
    margin-right: 30px;
    font-size: 15px;
    color: #a8b8bd;
}
.wish-list-like {
    margin-top: 35px;
    line-height: 55px;
    margin-top: 35px;
}
.wish-list-like p {
    float: right;
    margin-right: 30px;
    font-size: 15px;
    color: #a8b8bd;
}
.fa-heart {
    font-size: 25px;
    margin-top: 15px;
    color: #a8b8bd;
}
.wish-list-like a {
    text-decoration: none;
}
.wish-list-like a:focus {
    color: red;
}
.wish-list-likes p {
    float: left;
}
.wish-list-input1 input::-webkit-input-placeholder {
   color: #fff;
}
.wl-likes i:hover {
    color: #ef9f9f;
    transform: scale(1.2);
}