<div class="container" style="padding-bottom: 50px;">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-xs-12 edit-recipe-title-decription">
					<h3>Add slide</h3>
				</div>
				<div class="col-xs-12">
					<hr>
				</div>
				<div class="col-md-12 col-lg-12">
					<img ng-src="{{image_source}}" class="img-responsive">
					<p class="help-block">Ratio of image should be 16:9 (<a href="http://calculateaspectratio.com/" target="_blank">details</a>)</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 file">
		            <form>
		                <input type="file" nv-file-select="" onchange="angular.element(this).scope().setFile(this)" accept="image/*" uploader="uploader"/>
		            </form>
		        </div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-12">
					<label for="active">Is slide active on home page?</label>
					<div class="checkbox">
						<label>
							<input id="active" class="box-check" ng-model="checkbox.active" type="checkbox"> {{ checkbox.active?'Active':'Not active'}}
						</label>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="blog-admin-right mq-new-blog">
                <div class="new-blog">
                    <div class="new-blog-header">
                        <div class="row">
                            <div class="col-md-6 new-blog-left-header">
                                <h4>You want to add a new slide?</h4>
                                <p>Create a new slide.</p>
                            </div>
                            <div class="col-md-6 new-blog-right-header">
                            </div>
                        </div>
                    </div>
                    <div class="new-blog-footer">
                            <div class="row" ng-click="addSlide()">
                                <div class="col-md-12">
                                    <p>Add new slide</p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div> -->
	</div>
	<div class="row clearfix">
		<div class="col-md-4 col-xs-4 col-lg-4 col-sm-4 pull-right text-right">
			<button type="button" name="submit" ng-click="addSlide()" class="btn btn-slides-add">Save</button>
		</div>
	</div>
</div>
