<div class="container" style="padding-bottom: 50px;">
    <div class="row">
        <div class="col-xs-12">
            <form ng-model="addBlogForm" name="addBlogForm" ng-submit="addBlog(addBlogForm.$valid)" novalidate>
                <div class="form-group edit-recipe-title-decription" style="margin-top: 100px;">
                    <h3>Title:</h3>
                    <input type="text" class="form-control blog-title" ng-model="blogTitle" name="blogTitle" required="required">
                    <p ng-show="addBlogForm.blogTitle.$invalid && !addBlogForm.blogTitle.$pristine" class="help-block">Blog title required.</p>
                </div>
                <div class="form-group edit-recipe-title-decription">
                    <h3>Tags:</h3>
                    <chips ng-model="tags" render="render(data)">
                        <chip-tmpl>
                            <div class="default-chip">
                                {{chip.title}}
                                <span class="glyphicon glyphicon-remove" remove-chip></span>
                            </div>
                        </chip-tmpl>
                        <input name="typeaheadmodel" placeholder="Start typing..." ng-model-control chip-control ng-model="typeaheadmodel" uib-typeahead="tag as tag.title for tag in availableTags | filter:$viewValue"  required="required"/>
                    </chips>
                    <p ng-show="addBlogForm.typeaheadmodel.$invalid && !addBlogForm.typeaheadmodel.$pristine" class="help-block">Tags are required.</p>
                </div>
                <div class="form-group edit-recipe-title-decription">
                    <h3>Content:</h3>
                    <textarea rows="10" class="form-control blog-description" ui-tinymce="tinymceOptions" name="blogInputArea" ng-model="blogInputArea" required="required"></textarea>
                    <p ng-show="addBlogForm.blogInputArea.$invalid && !addBlogForm.blogInputArea.$pristine" class="help-block">Blog content required.</p>
                </div>
                <div class="form-group edit-recipe-title-decription">
                    <img class="img-responsive" ng-src="{{image_source2}}" />
                    <h3>Image inside blog:</h3>
                    <input type="file" nv-file-select="" onchange="angular.element(this).scope().setFile2(this)" accept="image/*" uploader="uploader"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn popup-btn-add pull-right" ng-disabled="addBlogForm.$invalid">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>