<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group add-tags">
                <span class="input-group-addon" id="basic-addon1">Tags to add:</span>
                <chips ng-model="tags" render="render(data)">
                    <chip-tmpl>
                        <div class="default-chip">
                            {{chip.title}}
                            <span class="glyphicon glyphicon-remove" remove-chip></span>
                        </div>
                    </chip-tmpl>
                    <input style="width: 190px;" placeholder="Start typing and press enter.." ng- chip-control />
                </chips>
                <!--<input type="text" class="form-control input-lg" ng-model="newRecipe.title">-->
            </div>
        </div>
    </div>
    <div class="row buttons">
        <div class="col-md-12">
	        <button type="button" class="btn btn-save pull-right" ng-click="addTags();">Save</button>
	    </div>
    </div>
</div>