<div class="container content">
    <div class="panel panel-default login-panel center-block">
        <div class="panel-body">
            <h2 class="text-center login-title">Add admin</h2>
            <form ng-model="registerForm" name="registerForm" ng-submit="register(registerForm.$valid)" novalidate>
                <div class="row middle">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                <label>Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                <input type="email" name="email" ng-model="user.email" class="login_box" placeholder="Email" autofocus required>
                                <p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="help-block">Email invalid.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                <label>Title</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                <input type="text" name="title" ng-model="user.title" class="login_box" placeholder="Title" ng-minlength="3" required>
                                <p ng-show="registerForm.title.$error.minlength">Title is too short.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                <label>First name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                <input type="text" name="firstName" ng-model="user.firstname" class="login_box" placeholder="First name" ng-minlength="3" required>
                                <p ng-show="registerForm.firstName.$error.minlength">First name is too short.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                <label>Last name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                <input type="text" name="lastName" ng-model="user.lastname" class="login_box" placeholder="Last name" ng-minlength="3" required>
                                <p ng-show="registerForm.lastName.$error.minlength">Last name is too short.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                <label>Short biography</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                <input type="text" id="bio" name="bio" ng-model="user.bio" class="login_box" placeholder="Biography" ng-maxlength="155">
                                <p ng-show="registerForm.bio.$error.maxlength" class="help-block">Maximum 155 characters reached.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                <label>Phone number</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                <input type="text" id="phoneNumber" name="phoneNumber" ng-model="user.phonenumber" class="login_box" placeholder="Phone Number" format-phone required>
                                <p ng-show="user.phoneNumber.$invalid && !user.phonenumber.$pristine" class="help-block">Phone number is required.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                <label>Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                <input type="password" name="password" ng-model="user.password" class="login_box" placeholder="Password" required>
                                <p ng-show="user.password_confirmation!=user.password" class="help-block">Password mismatch</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                <label>Repeat Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                <input type="password" name="password_confirmation" ng-model="user.password_confirmation" class="login_box" placeholder="Repeat Password" required>
                                <p ng-show="user.password_confirmation!=user.password" class="help-block">Password mismatch</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                <label>Role</label>
                            </div>
                        </div>
                        <div class="row buttons-login">
                            <div class="col-xs-12 col-sm-12">
                                <select ng-model="user.role" class="role">
                                    <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                                    <option value="ROLE_STAFF">ROLE_STAFF</option>
                                    <option value="ROLE_USER" selected>ROLE_USER</option>
                                </select>
                            </div>
                            <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                <label>Browse</label>
                            </div>
                            <div class="col-xs-12 col-sm-12">
                                <input type="file" nv-file-select="" accept="image/*" uploader="uploader"/>
                            </div>
                            <div class="col-xs-12 col-sm-12">
                                <button type="submit" class="btn signin-button" ng-disabled="registerForm.$invalid">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
