<div class="container" style="padding-bottom: 50px;">
    <form  ng-model="addRecipeForm" name="addRecipeForm" ng-submit="submitRecipe(addRecipeForm.$valid)" novalidate>
        <div class="row">
            <div ng-if="newRecipe" class="col-md-12 animated fadeIn">
                <div class="input-group edit-recipe-title">
                    <span class="input-group-addon" id="basic-addon1">Recipe title:</span>
                    <input type="text" class="form-control input-lg" placeholder="Recipe title" name="recipeTitle" ng-model="newRecipe.title" required="required">
                    <p ng-show="addRecipeForm.recipeTitle.$invalid && !addRecipeForm.recipeTitle.$pristine" class="help-block">Recipe title required.</p>
                </div>
                <div class="row">
                    <div class="col-xs-12 edit-recipe-title-decription">
                        <h3>Recipe thumbnail</h3>
                    </div>
                    <div class="col-xs-12">
                        <div class="input-group">
                            <img class="img-responsive" ng-src="{{ newRecipe.uploaded_image || (newRecipe.thumbnail || 'img/no-image.png') }}" alt="{{ newRecipe.title }} thumbnail" />
                            <input type="file" nv-file-select uploader="thumbUpload" name="thumbnail" onchange="angular.element(this).scope().setFile(this, angular.element(this).scope().newRecipe)" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 edit-recipe-title-decription">
                        <h3>Recipe short description</h3>
                    </div>
                    <div class="col-xs-12">
                        <div class="input-group recipe-dec">
                            <textarea class="form-control" name="recipeDescription" ng-model="newRecipe.description" required="required"></textarea>
                            <p ng-show="addRecipeForm.recipeDescription.$invalid && !addRecipeForm.recipeDescription.$pristine" class="help-block">Recipe description required.</p>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-12 edit-recipe-title-decription">
                        <h3>Recipe ingredients</h3>
                    </div>
                    <div class="col-xs-12">
                        <div class="input-group recipe-dec">
                            <textarea class="form-control" ng-model="newRecipe.ingredients"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 edit-recipe-title-decription">
                        <h3>Recipe equipment</h3>
                    </div>
                    <div class="col-xs-12">
                        <div class="input-group recipe-dec">
                            <textarea class="form-control" ng-model="newRecipe.equipment"></textarea>
                        </div>
                    </div>
                </div>
                <hr />
                <div ng-repeat="step in newRecipe.steps">
                    <div class="jumbotron step">
                        <div class="row">
                            <div class="col-md-12 title edit-recipe-title-admin">
                                <div class="row">
                                    <div class="col-md-2">
                                        <h2>Step {{ step.step_number }}:</h2></div>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Title" name="stepTitle" ng-model="step.title" required="required">
                                            <p ng-show="addRecipeForm.stepTitle.$invalid && !addRecipeForm.stepTitle.$pristine" class="help-block">Step title required.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row images">
                            <div class="col-md-12">
                                <img class="img-responsive" ng-src="{{ step.uploaded_image || (step.thumbnail || 'img/no-image.png') }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 input-images">
                                <div class="row input-choose-file" style="float:left">
                                    <div class="col-md-12"><input type="file" nv-file-select="" accept="image/*" uploader="uploaders[$index]" onchange="angular.element(this).scope().setFile(this, angular.element(this).scope().step)"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row description">
                            <div class="col-md-12">
                                <textarea rows="10" class="form-control" ng-model="step.description" name="stepDescription" aria-describedby="sizing-addon1" required="required"></textarea>
                                <p ng-show="addRecipeForm.stepDescription.$invalid && !addRecipeForm.stepDescription.$pristine" class="help-block">Step description required.</p>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <button ng-click="addStep();" class="btn steps-btn-add">Add Step</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="submit" class="btn steps-btn-add pull-right" ng-disabled="addRecipeForm.$invalid">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<a id="back-to-top" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
<script>
    $(document).ready(function(){
        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
        $('#back-to-top').tooltip('show');
    });
</script>
