<div class="container advertisement-admin">
    <div class="row blog-admin-title">
        <div class="col-md-12 col-md-offset-0">
            <h2>ADVERTISEMENT MANAGEMENT</h2>
        </div>
        <!-- This breadcrumbs to be shown instead of the text that was there -->
        <div class="col-md-6 col-xs-12 col-lg-5 col-sm-8">
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-home"></i> Admin</li>
                <li class="active">Advertisemenet Management</li>
                <li>Advertisement</li>
            </ol>
        </div>
    </div>
    <!-- Loading gif to be shown instead of text below -->
    <div ng-if="!loadedAdvertisements" class="row text-center">
        <div class="col-xs-12 loading-blog">
            <img src="img/loading.gif">
        </div>
    </div>

    <!-- Add .animated and .fadeIn to other admin pages like this, also ng-if to be added on other pages -->
    <!-- To find variable: [loadedRecipes] in [controllers.js], press [ctrl+f] and type in ['$scope.loadedRecipes'] -->
    <div class="row animated fadeIn" ng-if="loadedAdvertisements">
        <div class="col-md-12">
            <img class="img-responsive center-block" src="img/advertisements.png" alt="/" />
        </div>
        <div class="col-md-6 border-top">
            <div class="row border-bottom">
                <h2 class="text-center">Blog zones</h2>
            </div>
            <div class="row">
                <p class="col-md-12">
                    <label for="blogZoneTwo">Zone 1</label>
                    <textarea rows="10" class="form-control" type="text" name="blogZoneOne" ng-model="ad.blogZoneOne" placeholder="Blog zone one" />
                </p>
            </div>
            <div class="row">
                <p class="col-md-12">
                    <label for="blogZoneTwo">Zone 2</label>
                    <textarea rows="10" class="form-control" type="text" name="blogZoneTwo" ng-model="ad.blogZoneTwo" placeholder="Blog zone two"/>
                </p>
            </div>
        </div>
        <div class="col-md-6 border-top">
            <div class="row border-bottom">
                <h2 class="text-center">Recipe zones</h2>
            </div>
            <div class="row">
                <p class="col-md-12">
                    <label for="recipeZoneOne">Zone 1</label>
                    <textarea rows="10" class="form-control" type="text" name="recipeZoneOne" ng-model="ad.recipeZoneOne" placeholder="Recipe zone one" />
                </p>
            </div>
            <div class="row">
                <p class="col-md-12">
                    <label for="recipeZoneTwo">Zone 2</label>
                    <textarea rows="10" class="form-control" type="text" name="recipeZoneTwo" ng-model="ad.recipeZoneTwo" placeholder="Recipe zone two" />
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <input ng-disabled="updateClicked" type="button" class="col-md-12 col-xs-12 col-lg-12 col-sm-12 btn btn-success" ng-click="saveAdvertisement()" value="Update" />
        </div>
    </div>
</div>
