<div class="container blog-admin">
    <div class="row blog-admin-title">
        <div class="col-md-12 col-md-offset-0">
            <h2>DATA ADMINISTRATIONS</h2>
        </div>
        <div class="col-md-5 col-xs-12 col-lg-4 col-sm-6">
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-home"></i> Admin</li>
                <li class="active">Data Administration</li>
                <li>Blogs</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div ng-if="!loadedBlogs && !loadedFeatured" class="row text-center">
            <div class="col-xs-12 loading-blog">
                <img src="img/loading.gif">
            </div>
        </div>
    </div>
    <div class="row animated fadeIn" ng-if="loadedBlogs">
        <div class="col-md-8 blog-admin-left">
            <div class="row">
                <div class="col-md-12 col-sm-12"><h4>LIST OF BLOGS</h4></div>
            </div>
            <div class="row blogs-list">
                <div class="col-md-2 col-sm-2">
                    <div class="btn-group">
                        <button type="button" class="btn dropdown-toggle dropdown-button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            {{page.perPage}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a ng-click="page.perPage = 5;">5</a></li>
                            <li><a ng-click="page.perPage = 10;">10</a></li>
                            <li><a ng-click="page.perPage = 20;">20</a></li>
                            <li><a ng-click="page.perPage = 50;">50</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 ab-records"><p>records per page</p></div>
                <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                    <div class="input-search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input type="text" ng-model="searchInp.searchText" my-enter="searchBlog()"
                               placeholder="Search..." autofocus>
                    </div>
                </div>
            </div>
            <div class="row blogs" ng-repeat="blog in blogs">
                <div class="col-md-2 col-sm-2"><img class="img-responsive" ng-src="{{ blog.image_path || 'img/no-image.png' }}" /></div>
                <!--<div class="col-md-2 col-sm-2">-->
                <!--<img class="img-responsive" ng-if="blog.attachments == null" src="img/no-image.png">-->
                <!--<img class="img-responsive" ng-if="blog.attachments != null" ng-src="{{'images/blog/' + blog.attachments[0].id + '.' + blog.attachments[0].ext}}">-->
                <!--</div>-->
                <div class="col-md-6 col-sm-5 blogss">
                    <h5>{{blog.title}}</h5>
                    <p ng-bind-html="parseHtml(blog.content) | limitHtml: 150"></p>
                    <div class="row">
                        <div class="col-md-4 blog-admin-date"><p>{{blog.created_at | date: 'longDate'}}</p></div>
                        <div class="col-md-5 blog-admin-by"><p>by {{blog.user.firstname}} {{blog.user.lastname}}</p>
                        </div>
                        <div class="col-md-1 blog-admin-user"><p>{{blog.user.username}}</p></div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row buttons">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <div class="btn-group group-btn">
                                <button type="button" class="btn dropdown-toggle dropdown-button-action"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <p>Action <span class="caret"></span></p>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a ng-click="goToBlog(blog.id)"><i class="fa fa-eye" aria-hidden="true"></i>
                                        View</a></li>
                                    <li><a ng-click="goToEditBlog(blog.id);"><i class="fa fa-pencil-square-o"
                                                                                aria-hidden="true"></i>
                                        Edit</a></li>
                                    <li><a ng-click="addAsFeatured(blog)"><i class="fa fa-bolt" aria-hidden="true"></i>
                                        Add as Featured</a></li>
                                    <li><a ng-click="deleteBlog(blog.id)"><i class="fa fa-trash-o"
                                                                             aria-hidden="true"></i>
                                        Delete</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                </div>
            </div>
            <ul class="pager">
                <li><a ng-hide="hidePrevious" ng-click="goBackPage(backUrl)">Previous</a></li>
                <li><a ng-hide="hideNext" ng-click="goNextPage(nextUrl)">Next</a></li>
            </ul>
        </div>
        <div class="col-md-4 blog-admin-right mq-new-blog">
            <div class="new-blog">
                <div class="new-blog-header">
                    <div class="row">
                        <div class="col-md-6 new-blog-left-header">
                            <h4>You want to add a new blog?</h4>
                            <p>Create a new blog.</p>
                        </div>
                        <div class="col-md-6 new-blog-right-header">
                            <img src="img/add-new-blog.png">
                        </div>
                    </div>
                </div>
                <div class="new-blog-footer">
                    <div class="row" ng-click="goToAddBlog();">
                        <div class="col-md-12">
                            <p>Add new blog</p>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="loadedFeatured" class="recent-group animated fadeIn">
                <ul class="nav nav-tabs dash" role="tablist">
                    <li role="presentation" class="active"><a aria-controls="recent" role="tab" data-toggle="tab"
                                                              class="tab-active"><span class="recent-nav">Featured</span></a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active recent">
                        <div class="media" ng-repeat="featured in features">
                            <div class="media-left">
                                <img ng-click="goToSingle(featured)" class="media-object mini-image"
                                     ng-src="{{(featured.image_path || featured.thumbnail) || 'img/no-image.png'}}">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{featured.title}}</h4>
                                <!--<p>{{recent.created_at | date: 'longDate'}}</p>-->
                                <div class="dropdown">
                                    <div style="width: 100%"
                                         class="btn dropdown-button-action dropdown-toggle col-md-12"
                                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                         id="recentDropdown">
                                        Action <span class="caret"></span>
                                    </div>
                                    <ul class="dropdown-menu" aria-labelledby="recentDropdown">
                                        <li><a ng-click="goToSingle(featured)"><i class="fa fa-eye"
                                                                                         aria-hidden="true"></i>
                                            View</a>
                                        </li>
                                        <li><a data-toggle="modal" data-target="#editRecipe"
                                               ng-click="goToEdit(featured);"><i class="fa fa-pencil-square-o"
                                                                                    aria-hidden="true"></i> Edit</a>
                                        </li>
                                        <li><a ng-click="delete(featured)"><i class="fa fa-trash-o"
                                                                                     aria-hidden="true"></i> Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
