<div class="container">
    <div class="row dashboard-title">
        <div class="col-md-12 dashboard">
            <h2>DASHBOARD</h2>
            <p>The most complete user interface framework that can be used to create stunning admin dashboards and presentation websites.</p>
        </div>
    </div>
    <div class="row statistic">
        <div class="col-md-3 mq-total-tags">
            <div class="total-tags">
                <div class="total-tags-header">
                    <div class="row">
                        <div class="col-md-6 total-left-header">
                            <h4>{{dashboarData.categories_number}}</h4>
                            <p>Total Tags</p>
                        </div>
                        <div class="col-md-6 total-right-header">
                            <img src="img/total-tags-img.png">
                        </div>
                    </div>
                </div>
                <div class="total-tags-footer">
                    <div class="row">
                        <div class="col-md-6 total-left-footer">
                            <p>% change</p>
                        </div>
                        <div class="col-md-6 total-right-footer">
                            <img src="img/total-tags-img2.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mq-new-users">
            <div class="new-users">
                <div class="new-users-header">
                    <div class="row">
                        <div class="col-md-6 new-left-header">
                            <h4>{{dashboarData.users_number}}</h4>
                            <p>New Users</p>
                        </div>
                        <div class="col-md-6 new-right-header">
                            <img src="img/new-users-img.png">
                        </div>
                    </div>
                </div>
                <div class="new-users-footer">
                    <div class="row">
                        <div class="col-md-6 total-left-footer">
                            <p>% change</p>
                        </div>
                        <div class="col-md-6 total-right-footer">
                            <img src="img/new-users-img2.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mq-posted-recipes">
            <div class="posted-recipes">
                <div class="posted-recipes-header">
                    <div class="row">
                        <div class="col-md-6 posted-left-header">
                            <h4>{{dashboarData.recipes_number}}</h4>
                            <p>Posted recipes</p>
                        </div>
                        <div class="col-md-6 posted-right-header">
                            <img src="img/posted-recipes-img.png">
                        </div>
                    </div>
                </div>
                <div class="posted-recipes-footer">
                    <div class="row">
                        <div class="col-md-6 posted-left-footer">
                            <p>% change</p>
                        </div>
                        <div class="col-md-6 posted-right-footer">
                            <img src="img/posted-recipes-img2.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mq-blog-posts">
            <div class="blog-posts">
                <div class="blog-posts-header">
                    <div class="row">
                        <div class="col-md-6 blog-left-header">
                            <h4>{{dashboarData.blogs_number}}</h4>
                            <p>Blog posts</p>
                        </div>
                        <div class="col-md-6 blog-right-header">
                            <img src="img/blog-posts-img.png">
                        </div>
                    </div>
                </div>  
                <div class="blog-posts-footer">
                    <div class="row">
                        <div class="col-md-6 posted-left-footer">
                            <p>% change</p>
                        </div>
                        <div class="col-md-6 posted-right-footer">
                            <img src="img/blog-posts-img2.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row graph">
        <div class="col-md-9">
            <img class="img-responsive" src="img/graph.png">
        </div>
        <div class="col-md-3">
            <div>
                <ul class="nav nav-tabs dash" role="tablist">
                    <li role="presentation" class="active"><a href=".blogs" aria-controls="blogs" role="tab" data-toggle="tab">Blogs</a></li>
                    <li role="presentation"><a href=".categories" aria-controls="categories" role="tab" data-toggle="tab">Categories</a></li>
                    <li role="presentation"><a href=".recipes" aria-controls="recipes" role="tab" data-toggle="tab">Recipes</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active blogs">
                        <div class="media" ng-repeat="blog in dashboarData.blogs" ng-click="goToSingleBlog(blog.id);">
                            <div class="media-left">
                                <img class="media-object mini-image" ng-src="{{'images/blog/' + blog.attachments[0].id + '.' + blog.attachments[0].ext}}" alt="...">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{blog.title}}</h4>
                                <p ng-bind-html="blog.post_content | limitHtml: 40"></p>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane categories">
                        <div ng-repeat="categorie in dashboarData.categories">
                            <button class="btn btn-categories" type="button" ng-click="gotToBlogs(categorie.id);">
                                {{categorie.title}} <span class="badge">{{ categorie.blogs.length }}</span>
                            </button>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane recipes">
                        <div class="media" ng-repeat="recipe in dashboarData.recipes" ng-click="goToSingleRecipe(recipe.id);">
                            <div class="media-left">
                                <img class="media-object mini-image" ng-src="{{'images/recipes/' + recipe.steps[0].id + '.' + recipe.steps[0].ext}}" alt="...">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{recipe.title}}</h4>
                                <p ng-bind-html="recipe.description | limitHtml: 40"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
