<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group add-tags">
                <span class="input-group-addon" id="basic-addon1">Tag Name:</span>
                <input type="text" class="form-control input-lg" ng-model="tag.title">
            </div>
        </div>
    </div>
    <div class="row buttons">
    	<div class="col-md-6">
	    </div>
        <div class="col-md-6">
	        <button type="button" class="btn btn-save pull-right" ng-click="updateTag()">Save</button>
	    </div>
    </div>
</div>