<div class="container" style="padding-bottom: 50px;">
    <div class="row">
        <div ng-if="!currentBlog" class="col-md-12">
            <p class="lead">Loading...</p>
        </div>
        <div ng-if="currentBlog" class="col-xs-12">
            <form ng-model="editBlogForm" name="editBlogForm" ng-submit="updateBlog(editBlogForm.$valid)" novalidate>
                <div class="form-group edit-recipe-title-decription" style="margin-top: 50px;">
                    <h3>Title:</h3>
                    <input type="text" class="form-control" ng-model="blogEditTitle.title" name="blogTitle" required="required"/>
                    <p ng-show="editBlogForm.blogTitle.$invalid && !editBlogForm.blogTitle.$pristine" class="help-block">Blog title required.</p>
                </div>
                <h3>Tags:</h3>
                <div class="form-group">
                    <chips ng-model="tags.all" render="render(data)">
                        <chip-tmpl>
                            <div class="default-chip">
                                {{chip.title}}
                                <span class="glyphicon glyphicon-remove" remove-chip></span>
                            </div>
                        </chip-tmpl>
                        <input placeholder="Start typing..." name="typeaheadmodel" ng-model-control chip-control ng-model="typeaheadmodel" uib-typeahead="tag as tag.title for tag in availableTags | filter:$viewValue" />
                    </chips>
                </div>
                <div class="form-group edit-recipe-title-decription">
                    <h3>Content:</h3>
                    <textarea rows="10" class="form-control" ui-tinymce="tinymceOptions" name="blogEditInputArea" ng-model="blogEditInputArea.content" required="required"></textarea>
                    <p ng-show="editBlogForm.blogInputArea.$invalid && !editBlogForm.blogInputArea.$pristine" class="help-block">Blog content required.</p>

                </div>
                <div class="form-group edit-recipe-title-decription">
                    <img class="img-responsive"  ng-src="{{$scope.currentBlog.image_path}}" />
                    <img class="img-responsive" ng-src="{{image_source}}">
                    <h3>Image inside blog:</h3>
                    <div class="col-md-12">
                        <input type="file" nv-file-select="" onchange="angular.element(this).scope().setFile(this)" accept="image/*" uploader="uploader"/>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn popup-btn-add pull-right" ng-disabled="editBlogForm.$invalid">Update</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>