<div class="container" style="padding-bottom: 50px;">
    <form ng-model="editRecipeForm" name="editRecipeForm" ng-submit="submitRecipe(editRecipeForm.$valid)" novalidate>
        <div class="row">
            <div ng-if="currentRecipe" class="col-md-12 animated fadeIn">
                <div class="input-group edit-recipe-title">
                    <span class="input-group-addon" id="basic-addon1">Recipe title:</span>
                    <input type="text" class="form-control input-lg" placeholder="Recipe title" name="recipeTitle" ng-model="currentRecipe.title" required="required">
                    <p ng-show="editRecipeForm.recipeTitle.$invalid && !editRecipeForm.recipeTitle.$pristine" class="help-block">Recipe title required.</p>

                </div>
                <div class="row">
                    <div class="col-xs-12 edit-recipe-title-decription">
                        <h3>Recipe thumbnail</h3>
                    </div>
                    <div class="col-xs-12">
                        <div class="input-group">
                            <img class="img-responsive" ng-src="{{ (currentRecipe.uploaded_image)?currentRecipe.uploaded_image:(currentRecipe.thumbnail)?currentRecipe.thumbnail:'img/no-image.png' }}" alt="{{ currentRecipe.title }} thumbnail" />
                            <input type="file" nv-file-select uploader="thumbUpload" name="thumbnail" onchange="angular.element(this).scope().setFile(this, angular.element(this).scope().currentRecipe)" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 edit-recipe-title-decription">
                        <h3>Recipe short description</h3>
                    </div>
                    <div class="col-xs-12">
                        <div class="input-group recipe-dec">
                            <textarea rows="10" class="form-control" name="recipeDescription" ng-model="currentRecipe.description" required="required"></textarea>
                            <p ng-show="editRecipeForm.recipeDescription.$invalid && !editRecipeForm.recipeDescription.$pristine" class="help-block">Recipe description required.</p>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-12 edit-recipe-title-decription">
                        <h3>Recipe ingredients</h3>
                    </div>
                    <div class="col-xs-12">
                        <div class="input-group recipe-dec">
                            <textarea rows="10" class="form-control" ng-model="currentRecipe.ingredients"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 edit-recipe-title-decription">
                        <h3>Recipe equipment</h3>
                    </div>
                    <div class="col-xs-12">
                        <div class="input-group recipe-dec">
                            <textarea rows="10" class="form-control" ng-model="currentRecipe.equipment"></textarea>
                        </div>
                    </div>
                </div>
                <hr />
                <div ng-repeat="step in currentRecipe.steps">
                    <div class="jumbotron step">
                        <div class="row">
                            <div class="col-md-12 title edit-recipe-title-admin">
                                <div class="row">
                                    <div class="col-md-2">
                                        <h2>Step {{ step.step_number }}:</h2></div>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Title" ng-model="step.title">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row images">
                            <div class="col-md-12">
                                <img class="img-responsive" ng-src="{{ (step.uploaded_image)?step.uploaded_image:(step.thumbnail)?step.thumbnail:'img/no-image.png' }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 input-images">
                                <div class="row input-choose-file" style="float:left">
                                    <div class="col-md-12"><input type="file" nv-file-select="" accept="image/*" uploader="uploaders[$index]" onchange="angular.element(this).scope().setFile(this, angular.element(this).scope().step)"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row description">
                            <div class="col-md-12">
                                <textarea rows="10" class="form-control" ng-model="step.description" aria-describedby="sizing-addon1"></textarea>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <input type="button" ng-click="addStep();" class="btn steps-btn-add" value="Add Step" />
                    </div>
                    <div class="col-xs-6">
                        <input type="submit" class="btn steps-btn-add pull-right" ng-disabled="editRecipeForm.$invalid" value="Submit" />
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
    <a id="back-to-top" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
    <script>
        $(document).ready(function(){
            $(window).scroll(function () {
                if ($(this).scrollTop() > 50) {
                    $('#back-to-top').fadeIn();
                } else {
                    $('#back-to-top').fadeOut();
                }
            });
            $('#back-to-top').click(function () {
                $('#back-to-top').tooltip('hide');
                $('body,html').animate({
                    scrollTop: 0
                }, 800);
                return false;
            });
            $('#back-to-top').tooltip('show');
        });
    </script>
