<div class="container">
	<div class="row">
		<div class="col-md-12 edit-recipe-title-decription">
			<h3>Add slide</h3>
		</div>
		<div class="col-md-12 wishlist-admin-left">
			<div class="row blogs">
				<div class="col-xs-8">
					<img ng-src="{{slider.image_path}}" class="img-responsive">
					<p class="help-block">Ratio of image should be 16:9 (<a href="http://calculateaspectratio.com/">details</a>)</p>
				</div>
				<div class="col-xs-4">
					<div class="row buttons">
						<div class="col-xs-12">
							<div class="btn-group group-btn">
							    <a ng-click="updateSlide()">
								  	<button type="button" class="btn dropdown-toggle dropdown-button-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    <p>Save</p> 
								  </button>
							    </a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 file">
                    <form>
                        <input type="file" nv-file-select="" accept="image/*" uploader="uploader"/>
                    </form>
                </div>
			</div>
		</div>
	</div>
</div>