<div class="container blog-admin">
    <div class="row blog-admin-title">
        <div class="col-md-12 col-md-offset-0">
            <h2>DATA ADMINISTRATIONS</h2>
        </div>
        <!-- This breadcrumbs to be shown instead of the text that was there -->
        <div class="col-md-5 col-xs-12 col-lg-4 col-sm-6">
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-home"></i> Admin</li>
                <li class="active">Data Administration</li>
                <li>Recipes</li>
            </ol>
        </div>
    </div>
    <!-- Loading gif to be shown instead of text below -->
    <div class="row">
        <div ng-if="!loadedRecipes && !loadedRecent" class="row text-center">
            <div class="col-xs-12 loading-blog">
                <img src="img/loading.gif">
            </div>
        </div>
    </div>

    <!-- Add .animated and .fadeIn to other admin pages like this, also ng-if to be added on other pages -->
    <!-- To find variable: [loadedRecipes] in [controllers.js], press [ctrl+f] and type in ['$scope.loadedRecipes'] -->
    <div class="row animated fadeIn" ng-if="loadedRecipes">
        <div class="col-md-8 blog-admin-left">
            <div class="row">
                <div class="col-md-12 col-sm-12"><h4>LIST OF RECIPES</h4></div>
            </div>
            <div class="row recipes-list">
                <div class="col-md-2 col-sm-2">
                    <div class="btn-group">
                        <button type="button" class="btn dropdown-toggle dropdown-button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            {{page.perPage}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a ng-click="page.perPage = 5;">5</a></li>
                            <li><a ng-click="page.perPage = 10;">10</a></li>
                            <li><a ng-click="page.perPage = 20;">20</a></li>
                            <li><a ng-click="page.perPage = 50;">50</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 ab-records"><p>records per page</p></div>
                <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                    <div class="input-search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input type="text" ng-model="searchInp.searchText" my-enter="searchRecipe()"
                               placeholder="Search..." autofocus>
                    </div>
                </div>
            </div>
            <div class="row blogs" ng-repeat="recipe in recipes">
                <div class="col-md-2 col-sm-2">
                    <img class="img-responsive" ng-src="{{ recipe.thumbnail || 'img/no-image.png' }}" />
                </div>
                <div class="col-md-6 col-sm-5 blogss">
                    <h5>{{recipe.title}}</h5>
                    <p ng-bind-html="parseHtml(recipe.description) | limitHtml: 150"></p>
                    <div class="row">
                        <div class="col-md-4 blog-admin-date"><p>{{recipe.created_at | date: 'longDate'}}</p></div>
                        <div class="col-md-5 blog-admin-by"><p>by {{recipe.user.firstname}} {{recipe.user.lastname}}</p>
                        </div>
                        <div class="col-md-1 blog-admin-user"><p>{{recipe.username}}</p></div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row buttons">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <div class="btn-group group-btn">
                                <button type="button" class="btn dropdown-toggle dropdown-button-action"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <p>Action <span class="caret"></span></p>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a ng-click="goToSingleRecipe(recipe.id)"><i class="fa fa-eye"
                                                                                     aria-hidden="true"></i> View</a>
                                    </li>
                                    <li><a data-toggle="modal" data-target="#editRecipe"
                                           ng-click="editRecipe(recipe.id);"><i class="fa fa-pencil-square-o"
                                                                                aria-hidden="true"></i> Edit</a></li>
                                    <li><a ng-click="addAsFeatured(recipe)"><i class="fa fa-bolt"
                                                                               aria-hidden="true"></i>
                                        Add as Featured</a></li>
                                    <li><a ng-click="deleteRecipe(recipe.id)"><i class="fa fa-trash-o"
                                                                                 aria-hidden="true"></i> Delete</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                </div>
            </div>
            <ul class="pager">
                <li><a ng-hide="hidePrevious" ng-click="goBackPage(backUrl)">Previous</a></li>
                <li><a ng-hide="hideNext" ng-click="goNextPage(nextUrl)">Next</a></li>
            </ul>
        </div>
        <div class="col-md-4 blog-admin-right mq-new-blog">
            <div class="new-blog">
                <div class="new-blog-header">
                    <div class="row">
                        <div class="col-md-6 new-blog-left-header">
                            <h4>You want to add a new recipes?</h4>
                            <p>Create a new recipes.</p>
                        </div>
                        <div class="col-md-6 new-blog-right-header">
                            <img src="img/recipes-blog.png">
                        </div>
                    </div>
                </div>
                <div class="new-blog-footer">
                    <div class="row">
                        <div class="col-md-12" data-toggle="modal" ng-click="goToAddRecipe();">
                            <p>Add new recipes</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Disabled for now -->
            <!--<div ng-if="loadedRecent" class="recent-group animated fadeIn">-->
                <!--<ul class="nav nav-tabs dash" role="tablist">-->
                    <!--<li role="presentation" class="active"><a aria-controls="recent" role="tab" data-toggle="tab"-->
                                                              <!--class="tab-active"><span class="recent-nav">Recent</span></a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<div class="tab-content">-->
                    <!--<div role="tabpanel" class="tab-pane active recent">-->
                        <!--<div class="media" ng-repeat="recent in recents">-->
                            <!--<div class="media-left">-->
                                <!--<img ng-click="goToSingleRecipe(recent.id)" class="media-object mini-image"-->
                                     <!--src="{{recent.thumbnail || 'img/no-image.png'}}">-->
                            <!--</div>-->
                            <!--<div class="media-body">-->
                                <!--<h4 class="media-heading">{{recent.title}}</h4>-->
                                <!--&lt;!&ndash;<p>{{recent.created_at | date: 'longDate'}}</p>&ndash;&gt;-->
                                <!--<div class="dropdown">-->
                                    <!--<div style="width: 100%"-->
                                         <!--class="btn dropdown-button-action dropdown-toggle col-md-12"-->
                                         <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"-->
                                         <!--id="recentDropdown">-->
                                        <!--Action <span class="caret"></span>-->
                                    <!--</div>-->
                                    <!--<ul class="dropdown-menu" aria-labelledby="recentDropdown">-->
                                        <!--<li><a ng-click="goToSingleRecipe(recent.id)"><i class="fa fa-eye"-->
                                                                                         <!--aria-hidden="true"></i>-->
                                            <!--View</a>-->
                                        <!--</li>-->
                                        <!--<li><a data-toggle="modal" data-target="#editRecipe"-->
                                               <!--ng-click="editRecipe(recent.id);"><i class="fa fa-pencil-square-o"-->
                                                                                    <!--aria-hidden="true"></i> Edit</a>-->
                                        <!--</li>-->
                                        <!--<li><a ng-click="addAsFeatured(recent)"><i class="fa fa-bolt"-->
                                                                                   <!--aria-hidden="true"></i>-->
                                            <!--Add as Featured</a></li>-->
                                        <!--<li><a ng-click="deleteRecipe(recent.id)"><i class="fa fa-trash-o"-->
                                                                                     <!--aria-hidden="true"></i> Delete</a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
