<div class="container slides-container">
    <div class="row slide-admin-title">
        <div class="col-md-12 col-md-offset-0">
            <h2>DATA ADMINISTRATIONS</h2>
        </div>
        <!-- This breadcrumbs to be shown instead of the text that was there -->
        <div class="col-md-5 col-xs-12 col-lg-6 col-sm-6">
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-home"></i> Admin</li>
                <li class="active">Data Administration</li>
                <li>Slides</li>
            </ol>
        </div>
    </div>
	<div class="row">
        <div class="col-md-4 col-md-push-8">
            <div class="slide-admin-right mq-new-blog">
                <div class="new-blog">
                    <div class="new-blog-header">
                        <div class="row">
                            <div class="col-md-6 new-blog-left-header">
                                <h4>You want to add a new slide?</h4>
                                <p>Create a new slide.</p>
                            </div>
                            <div class="col-md-6 new-blog-right-header">
                            </div>
                        </div>
                    </div>
                    <div class="new-blog-footer">
                        <a href="/#!/admin/add-slides">
                            <div class="row" ng-click="goToAddBlog();">
                                <div class="col-md-12">
                                    <p>Add new slide</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
		<div class="col-md-8 col-md-pull-4">
			<div class="col-md-12 wishlist-admin-left">
				<div class="row">
				    <div class="col-md-12 col-sm-12"><h4>LIST OF IMAGES</h4></div>
				</div>
				<div class="row wishlists-list">
				    <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
				        <div class="btn-group">
				            <button type="button" class="btn dropdown-toggle dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				                {{page.perPage}} <span class="caret"></span>
				            </button>
				            <ul class="dropdown-menu">
				                <li><a ng-click="page.perPage = 5;">5</a></li>
				                <li><a ng-click="page.perPage = 10;">10</a></li>
				                <li><a ng-click="page.perPage = 20;">20</a></li>
				                <li><a ng-click="page.perPage = 50;">50</a></li>
				            </ul>
				        </div>
						<span>records per page</span>
				    </div>

				    <!-- <div class="col-md-2 col-sm-2 ab-records"><p>records per page</p></div> -->
				</div>
			</div>
		</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 mq-latest" ng-repeat="slide in slides track by $index">
                    <div class="cursor-pointer">
                        <img ng-src="{{ slide.image_path }}" class="img-responsive">
                        <div class="buttons">
                            <button type="button" class="btn btn-success btn-enable"
                                    ng-click="updateSlide(slide, $index)"
                                    ng-class="slide.activated?'btn-warning':'btn-success'"
                                    ng-bind="slide.activated?'Disable':'Enable'"></button>
                            <button type="button" class="btn btn-danger btn-delete" ng-click="deleteSlide(slide)">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
