<div class="container tags-categories" style="min-height: 700px;">
    <div class="row categories-admin-title">
        <div class="col-xs-12">
            <h2>DATA ADMINISTRATIONS</h2>
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                <ol class="breadcrumb">
                    <li class="active"><i class="fa fa-home"></i> Admin</li>
                    <li class="active">Data Administration</li>
                    <li>Categories & Tags</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-if="!loadedCategoriesTags" class="row text-center">
            <div class="col-xs-12">
                <img src="img/loading.gif">
            </div>  
        </div>
    </div>
    <div class="row categories-tags-content animated fadeIn" ng-if="loadedCategoriesTags">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8  ">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="categories">
                        <div class="categories-header">
                            <div class="row title-categories">
                                <div class="col-md-12 col-sm-12"><h4>LIST OF TAGS</h4></div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="btn-group">
                                        <button type="button" class="btn dropdown-toggle dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{page.perPage}} <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a ng-click="page.perPage = 5;">5</a></li>
                                            <li><a ng-click="page.perPage = 10;">10</a></li>
                                            <li><a ng-click="page.perPage = 20;">20</a></li>
                                            <li><a ng-click="page.perPage = 50;">50</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5 ab-records"><p>records per page</p></div>
                                <div class="col-md-5 col-sm-5">
                                    <div class="input-search">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        <input type="text" ng-model="searchInp.searchText" my-enter="searchTags()" placeholder="Search..."  autofocus>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="categories-content" ng-repeat="tag in tags track by tag.id">
                            <div class="row blogs">
                                <div class="col-xs-6">
                                    <button class="btn cat-tag-btn" ng-click="gotToBlogs(tag);">#{{tag.title}} <span class="badge">{{tag.blogs_count}}</span></button>
                                </div>
                                <div class="col-xs-6">
                                    <div class="btn-group group-btn">
                                        <button type="button" class="btn dropdown-toggle dropdown-button-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <p>Action <span class="caret"></span></p>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a ng-click="goToEditTag(tag.id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                Edit</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <div class="new-category-tag">
                <div class="new-category-tag-header">
                    <div class="row">
                        <div class="col-md-6 new-category-tag-left-header">
                            <h4>You want to add<br>
                                a new tags?</h4>
                            <p>Create a new tags.</p>
                        </div>
                        <div class="col-md-6 new-category-tag-right-header">
                            <img src="img/recipes-blog.png">
                        </div>
                    </div>
                </div>
                <a href="#!/admin/add-tags">
                    <div class="new-category-tag-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Add new tags</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="categories">
                <div class="categories-header">
                    <div class="row title-categories">
                        <div class="col-md-12 col-sm-12"><h4>LIST OF CATEGORIES</h4></div>
                    </div>
                </div>
                <div class="categories-content" ng-repeat="category in categories track by $index">
                    <div class="row blogs">
                        <div class="col-xs-6">
                            <button class="btn cat-tag-btn" ng-click="gotToBlogs(category);">#{{category.title}} <span class="badge">{{category.blogs_count}}</span></button>
                        </div>
                        <div class="col-xs-6">
                            <div class="btn-group group-btn">
                                <button type="button" class="btn dropdown-toggle dropdown-button-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <p>Action <span class="caret"></span></p>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        Edit</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<h1 class="tags-cat-title">Categories</h1>-->
        <!--<hr>-->
       <!--<div class="row">-->
           <!--<button class="btn btn-categories" type="button">-->
               <!--lorem ipsum <span class="badge">2</span>-->
           <!--</button>-->
           <!--<button class="btn btn-categories" type="button">-->
               <!--lorem ipsum <span class="badge">2</span>-->
           <!--</button>-->
           <!--<button class="btn btn-categories" type="button">-->
               <!--lorem ipsum <span class="badge">2</span>-->
           <!--</button>-->
       <!--</div>-->
        <!--<h1 class="tags-cat-title">Tags</h1>-->
        <!--<hr>-->
        <!--<button class="btn btn-categories" type="button">-->
            <!--lorem ipsum <span class="badge">2</span>-->
        <!--</button>-->
    <!--</div>-->
<!--</div>-->