<div class="container">
    <div ng-show="!page.usersLoading" class="row">
        <div class="row text-center">
            <div class="col-xs-12">
                <img src="img/loading.gif"/>
            </div>
        </div>
    </div>
    <div class="row animated fadeIn" ng-show="page.usersLoading">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="panel panel-default panel-default-users">
                <div class="col-md-12 wishlist-admin-left">
                    <div class="row header-user">
                        <div class="col-md-12 col-sm-12"><h4>LIST OF USERS</h4></div>
                    </div>
                    <div class="row wishlists-list">
                        <div class="col-md-2 col-sm-2">
                            <div class="btn-group">
                                <button type="button" class="btn dropdown-toggle dropdown-button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    {{page.perPage}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a ng-click="perPage(5);">5</a></li>
                                    <li><a ng-click="perPage(10);">10</a></li>
                                    <li><a ng-click="perPage(20);">20</a></li>
                                    <li><a ng-click="perPage(50);">50</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 ab-records"><p>records per page</p></div>
                        <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                            <div class="input-search">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input type="text" ng-model="searchInp.searchText" my-enter="searchUsers()"
                                       placeholder="Search..." autofocus>
                            </div>
                        </div>
                    </div>
                </div>


                <table class="table">
                    <thead>
                        <tr class="asdfg">
                            <th><p>Avatar</p></th>
                            <th><p>Name</p></th>
                            <th class="user-table"><p>Email</p></th>
                            <th class="user-table"><p>Title</p></th>
                            <th><p>Role</p></th>
                        </tr>
                    </thead>
                    <tbody class="animated fadeIn">
                        <tr class="users-row" ng-repeat="user in users">
                            <td><img ng-src="{{user.avatar}}" class="img-responsive img-circle"></td>
                            <td><p class="username">{{user.firstname}} {{user.lastname}}</p></td>
                            <td class="user-table"><p class="email">{{user.email}}</p></td>
                            <td class="user-table"><p class="username">{{ user.title }}</p></td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn dropdown-toggle dropdown-button-action"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <p>Actions <span class="caret"></span></p>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a ng-click="editUser(user.id);"><i class="fa fa-pencil-square-o"
                                                                                aria-hidden="true"></i> Edit</a></li>

                                        <!-- Not yet to be implemented, ignore next line -->
                                        <!-- <li><a ng-click="deleteUser(user.id)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a></li> -->
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ul class="pager">
                <li><a ng-if="hidePrevious" ng-click="goBackPage(pagination.prev_page_url)">Previous</a></li>
                <li><a ng-if="hideNext" ng-click="goNextPage(pagination.next_page_url)">Next</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="blog-admin-right mq-new-blog">
                <div class="new-blog">
                    <div class="new-blog-header">
                        <div class="row">
                            <div class="col-md-6 new-blog-left-header">
                                <h4>You want to add a new user?</h4>
                                <p>Create a new user.</p>
                            </div>
                            <div class="col-md-6 new-blog-right-header">
                                <img src="img/admin-user-icon.png">
                            </div>
                        </div>
                    </div>
                    <div class="new-blog-footer">
                        <a href="#!/admin/add-admin">
                            <div class="row" ng-click="goToAddBlog();">
                                <div class="col-md-12">
                                    <p>Add new user</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
