<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="clearfix">Title: {{wishlist.title}}
                    <small class="like-icon-in-header pull-right"><i class="fa fa-heart" aria-hidden="true"></i> {{wishlist.users_liked_count}}</small>
                </h2>
            </div>
        </div>
        <div class="row" style="margin: 25px 0;">
            <div class="col-xs-12">
                <p ng-bind-html="wishlist.content"></p>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 clearfix">
                <div class="pull-left">
                    <p class="like-icon-in-header"><i class="fa fa-user" aria-hidden="true"></i> {{wishlist.user.firstname}} {{wishlist.user.lastname}} | <i class="fa fa-calendar" aria-hidden="true"></i> {{ wishlist.created_at | date: 'longDate' }}</p>
                </div>
                <div class="pull-right">
                    <button class="btn btn-mark-as-read" ng-click="markResolved(wishlist)">Mark as Finished</button>
                    <button class="btn btn-go-back" ng-click="goBack()">Go Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
