<div class="container wish-list-container">
    <div class="row wishlist-admin-title">
        <div class="col-md-12 col-md-offset-0">
            <h2>WISH ADMINISTRATION</h2>
        </div>
        <div class="col-md-5 col-xs-12 col-lg-4 col-sm-6">
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-home"></i> Admin</li>
                <li class="active">Wish Administration</li>
                <li>Wish</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div ng-if="!loadedWishList" class="row text-center">
            <div class="col-xs-">
                <img src="img/loading.gif">
            </div>
        </div>
    </div>
    <div class="row animated fadeIn" ng-if="loadedWishList">
        <div class="col-md-12 wishlist-admin-left">
            <div class="row header-user">
                <div class="col-md-12 col-sm-12"><h4>LIST OF WISH LISTS</h4></div>
            </div>
            <div class="row wishlists-list">
                <div class="col-md-2 col-sm-2">
                    <div class="btn-group">
                        <button type="button" class="btn dropdown-toggle dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{page.perPage}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a ng-click="page.perPage = 5;">5</a></li>
                            <li><a ng-click="page.perPage = 10;">10</a></li>
                            <li><a ng-click="page.perPage = 20;">20</a></li>
                            <li><a ng-click="page.perPage = 50;">50</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 ab-records"><p>records per page</p></div>
                <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                    <div class="input-search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input type="text" ng-model="searchInp.searchText" my-enter="searchwishlist()" placeholder="Search..."  autofocus>
                    </div>
                </div>
            </div>
            <div class="row wishlists" ng-repeat="wishlist in wishlists">
                <div class="wishlistss">
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 wishlistss">
                        <h5>{{wishlist.title}}</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <p ng-bind-html="wishlist.content | limitHtml: 150"></p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <p><i class="fa fa-calendar" aria-hidden="true"></i> {{wishlist.created_at | date: 'longDate'}}</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <p><i class="fa fa-heart" aria-hidden="true"></i> {{wishlist.users_liked_count}}</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <p><i class="fa fa-user" aria-hidden="true"></i> {{wishlist.user.firstname}} {{wishlist.user.lastname}}</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <div class="row buttons">
                            <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12btn-group group-btn">
                                <button type="button" class="btn dropdown-toggle dropdown-button-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <p>Action <span class="caret"></span></p>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a ng-click="goToWishList(wishlist)"><i class="fa fa-eye" aria-hidden="true"></i>
                                        View</a></li>
                                        <li><a ng-click="markResolved(wishlist);"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            Mark as resolved</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="pager">
                    <li><a ng-hide="hidePrevious" ng-click="goBackPage(backUrl)">Previous</a></li>
                    <li><a ng-hide="hideNext" ng-click="goNextPage(nextUrl)">Next</a></li>
                </ul>
            </div>
        </div>
