<div class="container-fluid about-container animated fadeIn">
    <div class="row text-center">
        <h1>Contact us with</h1>
    </div>
    <div class="row contact-info-div">
        <div class="col-md-6 text-center">
            <div class="pull-right-md">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:chef.gerrie@example.com"><span><span class="social-text">Email  |</span>  chef.gerrie@example.com</span></a>
            </div>
        </div>
        <div class="col-md-6 about-twitter">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <a><span><span class="social-text">Twitter  |</span>  @chef.gerrie</span></a>
        </div>
    </div>
</div>
<div class="row">
    <div ng-if="!loadedAbout" class="row text-center">
        <div class="col-xs-12 loading-blog">
            <img src="img/loading.gif">
        </div>
    </div>
</div>
<div class="container-fluid your-wish animated fadeIn" ng-if="loadedAbout">
    <div class="row text-center">
        <h1>You have wishes?</h1>
        <h3>For sending request follow the next link</h3>
        <button class="btn" ng-click="goWishList();">VIEW PAGE</button>
    </div>
</div>