<div class="container title-featured-content">
    <div class="row">
        <div class="col-md-12 mq-featured">
            <p class="category-name">Category: {{categoryName}}</p>
        </div>
    </div>
</div>
<div class="container latest-content-blog">
	<div class="row">
		<div class="col-md-12">
			<div class="row latest-blog" ng-repeat="blog in blogs">
				<div class="col-md-3 mq-featured">
					<img ng-src="{{blog.image_path}}" class="img-responsive" style="cursor: pointer;">
				</div>
				<div class="col-md-9 mq-featured">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 style="cursor: pointer;" ng-click="goToSingleBlog(blog.id);">{{blog.title}}</h4>
                            <p ng-bind-html="blog.content | limitTo: 350"></p>
                        </div>
                    </div>
					<div class="row">
						<div class="col-md-8">
							<div class="row footer-latest-blog">
								<div class="col-md-4 date-latest-blog"><p><i class="fa fa-calendar" aria-hidden="true"></i> {{blog.created_at | date: 'longDate'}}</p></div>
								<div class="col-md-4 user-latest-blog"><p><b><i class="fa fa-user" aria-hidden="true"></i> {{blog.user.firstname}} {{blog.user.lastname}}</b></p></div>
								<div class="col-md-4 read-later-latest-blog"><a ng-click="addToReadLater(blog)"><p ng-style="blog.users_readlater?{'color': '#81c784'}:null"><i class="fa fa-star" aria-hidden="true"></i>   Read later</p></a></div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="">
								<button type="button" class="btn btn-read-more-latest" ng-click="goToSingleBlog(blog.id);">READ MORE</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6 load-more">
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<button type="button" ng-hide="hideLoadMore" ng-disable="disableBtn" ng-click="loadMore();" class="btn btn-load-more load-padding">VIEW MORE</button>
						</div>
						<div class="col-md-4"></div>
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>
	</div>
</div>
