<div class="container blog-view">
	<div class="row">
		<div ng-if="!loadedSingleBlog" class="row text-center">
			<div class="col-xs-12 loading-blog">
				<img src="img/loading.gif">
			</div>
		</div>
	</div>
	<div class="row animated fadeIn" ng-if="loadedSingleBlog">
		<div class="col-md-7">
			<div class="row">
				<div class="col-md-12">
					<h1>{{blog.title}}</h1>
				</div>
			</div>
			<div class="row social-icons">
				<div class="col-md-3">
					<p><i class="fa fa-clock-o" aria-hidden="true"></i>
						{{blog.created_at | date: 'longDate'}}</p>
				</div>
				<div class="col-md-4 blog-username">
					<p><i class="fa fa-user" aria-hidden="true"></i>
						{{blog.user.firstname}} {{blog.user.lastname}}</p>
				</div>
				<div class="col-md-2 read-later-latest-blog">
                    <a ng-click="addToReadLater(blog)"><p class="read_later_place" ng-style="blog.users_readlater?{'color': '#81c784'}:null"><i class="fa fa-star" aria-hidden="true"></i>   Read later</p></a>
                </div>
				<div class="col-md-1">
					<p>Share:</p>
				</div>
				<div class="col-md-2">
					<div class="row">
						<div class="col-md-4 social">
							<a class="btn btn-social social-btn"
							   socialshare
							   socialshare-provider="facebook"
							   socialshare-type="feed"
							   socialshare-via="1901173073445523"
							   socialshare-url="{{shareUrl}}"
							   socialshare-redirect-uri="{{shareUrl}}"
							   socialshare-quote="Chef Jungle"
							   socialshare-popup-height="400"
							   socialshare-popup-width="500"
							   socialshare-trigger="click">
								<span class="fa fa-facebook"></span>
							</a>
						</div>
						<div class="col-md-4 social">
							<a class="btn btn-social social-btn"
							   socialshare
							   socialshare-provider="twitter"
							   socialshare-text="{{blog.title}}"
							   socialshare-hashtags="Chef Gerrie, cooking"
							   socialshare-url="{{shareUrl}}">
								<span class="fa fa-twitter"></span>
							</a>
						</div>
						<div class="col-md-4 social">
						</div>
					</div>
				</div>
			</div>
            <hr>
            <div class="row description-blog">
				<div class="col-md-12">
					<p ng-bind-html="parseHtml(blog.content)"></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<img class="img-responsive" ng-src="{{blog.image_path}}">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" ng-show="ad && ad.blogZoneTwo" ng-bind-html="ad.blogZoneTwo"></div>
			</div>
			<div class="row design-disqus">
				<div class="col-md-12">
                    <div disqus="id"></div>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-3 single-blog-right">
			<div class="row">
				<div class="col-md-4 mq-user-img">
					<img class="img-circle" ng-src="{{blog.user.avatar}}">
				</div>
				<div class="col-md-8 user-blog-view">
					<h4>{{blog.user.firstname}} {{blog.user.lastname}}</h4>
					<p>{{blog.user.title}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 user-description user-blog-view">
					<p>{{ blog.user.bio }}</p>
				</div>
			</div>
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-12">
                   <p class="recent-categories-title">Blog Categories</p>
                    <button class="btn category-btn" ng-repeat="tag in blog.tags" ng-click="gotToBlogs(tag)">{{tag.title}}</button>
                </div>
            </div>
			<div class="row">
				<div class="col-md-12" ng-show="ad && ad.blogZoneOne" ng-bind-html="ad.blogZoneOne"></div>
			</div>
		</div>
	</div>
</div>
