<div class="container title-featured-content-blog">
	<div class="row">
		<div class="col-md-12">
			<p>Featured Content</p>
		</div>
	</div>
</div>
<div class="row">
    <div ng-if="!loadedBlog" class="row text-center">
        <div class="col-xs-12 loading-blog">
            <img src="img/loading.gif">
        </div>
    </div>
</div>
<div class="container featured-content-blog animated fadeIn" ng-if="loadedBlog">
	<div class="row" ng-if="firstFeatured">
		<div class="col-md-6">
			<div>
				<h1 class="cursor-pointer" ng-if="firstFeatured.content" ng-click="goToSingleBlog(firstFeatured.id);">{{firstFeatured.title}}</h1>
				<h1 class="cursor-pointer" ng-if="firstFeatured.description" ng-click="goToSingleRecipe(firstFeatured.id);">{{firstFeatured.title}}</h1>
			</div>
			<div>
				<p ng-if="firstFeatured.content" ng-bind-html="parseHtml(firstFeatured.content | limitTo:450)"></p>
				<p ng-if="firstFeatured.description" ng-bind-html="parseHtml(firstFeatured.description | limitTo:450)"></p>
			</div>
			<div class="button-read-more">
				<button ng-if="firstFeatured.content" type="button" class="btn btn-read-more" ng-click="goToSingleBlog(firstFeatured.id);">READ MORE</button>
				<button ng-if="firstFeatured.description" type="button" class="btn btn-read-more" ng-click="goToSingleRecipe(firstFeatured.id);">READ MORE</button>
			</div>
		</div>
		<div class="col-md-6">
			<img ng-if="firstFeatured.content" class="img-responsive" ng-src="{{firstFeatured.image_path}}" />
			<img ng-if="firstFeatured.description" class="img-responsive" ng-src="{{firstFeatured.thumbnail}}" />
		</div>
	</div>
	<div class="row featured-content-blog" ng-if="secondFeatured">
		<div class="col-md-6">
			<img ng-if="secondFeatured.content" class="img-responsive" ng-src="{{secondFeatured.image_path}}" />
			<img ng-if="secondFeatured.description" class="img-responsive" ng-src="{{secondFeatured.thumbnail}}" />
		</div>
		<div class="col-md-6">
			<div>
				<h1 class="cursor-pointer" ng-if="secondFeatured.content" ng-click="goToSingleBlog(firstFeatured.id);">{{secondFeatured.title}}</h1>
                <h1 class="cursor-pointer" ng-if="secondFeatured.description" ng-click="goToSingleRecipe(firstFeatured.id);">{{secondFeatured.title}}</h1>
			</div>
			<div>
				<p ng-if="secondFeatured.content" ng-bind-html="parseHtml(secondFeatured.content | limitTo:450)"></p>
				<p ng-if="secondFeatured.description" ng-bind-html="parseHtml(secondFeatured.description | limitTo:450)"></p>
			</div>
			<div class="button-read-more">
				<button ng-if="secondFeatured.content" type="button" class="btn btn-read-more" ng-click="goToSingleBlog(secondFeatured.id);">READ MORE</button>
				<button ng-if="secondFeatured.description" type="button" class="btn btn-read-more" ng-click="goToSingleRecipe(secondFeatured.id);">READ MORE</button>
			</div>
		</div>
	</div>
</div>
<div class="container title-latest-content-blog animated fadeIn" ng-if="loadedBlog">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4"><p>Latest Content</p></div>
				<div class="col-md-4"></div>
				<div class="col-md-4"></div>
			</div>
		</div>
	</div>
</div>
<div class="container latest-content-blog animated fadeIn" ng-if="loadedBlog">
	<div class="row">
		<div class="col-md-12">
			<div ng-repeat="item in blogs track by $index" class="row latest-blog">
				<div>
                    <div class="col-md-3 mq-featured">
						<img ng-if="item.content" class="img-responsive" ng-src="{{ item.image_path || 'img/no-image.png'}}" />
						<img ng-if="item.description" class="img-responsive" ng-src="{{item.thumbnail || 'img/no-image.png'}}" />
                    </div>
                    <div class="col-md-9 mq-featured">
                        <div class="row">
							<div class="col-md-12">
								<h4 ng-if="item.content" style="cursor: pointer;" ng-click="goToSingleBlog(item.id);">{{item.title}}</h4>
								<h4 ng-if="item.description" style="cursor: pointer;" ng-click="goToSingleRecipe(item.id);">{{item.title}}</h4>
								<!--  -->
	                            <p ng-if="item.content" ng-bind-html="parseHtml(item.content | limitTo:350)"></p>
								<p ng-if="item.description" ng-bind-html="parseHtml(item.description | limitTo:350)"></p>
							</div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row footer-latest-blog">
                                    <div class="col-md-4 date-latest-blog"><p><i class="fa fa-calendar" aria-hidden="true"></i> {{item.created_at | date: 'longDate'}}</p></div>
									<div class="col-md-4 user-latest-blog"><p><b><i class="fa fa-user" aria-hidden="true"></i> {{item.user.firstname}} {{item.user.lastname}}</b></p></div>
                                    <div class="col-md-4 read-later-latest-blog"><a ng-click="addToReadLater(item, $index)"><p ng-style="item.is_readlater?{'color': '#81c784'}:null"><i class="fa fa-star" aria-hidden="true"></i>   Read later</p></a></div>
								</div>
                            </div>
                            <div class="col-md-4">
                                <div class="">
                                    <button ng-if="item.content" type="button" class="btn btn-read-more-latest" ng-click="goToSingleBlog(item.id);">READ MORE</button>
									<button ng-if="item.description" type="button" class="btn btn-read-more-latest" ng-click="goToSingleRecipe(item.id);">READ MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
    <div class="row">
        <div ng-if="!loadedMore" class="row text-center">
            <div class="col-xs-12 loading-blog">
                <img src="img/loading.gif">
            </div>
        </div>
    </div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6 load-more">
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<button type="button" ng-disable="disableBtn" ng-click="loadMore(nextUrl);" class="btn btn-load-more">VIEW MORE</button>
						</div>
						<div class="col-md-4"></div>
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid home-categories animated fadeIn" ng-if="loadedBlog">
	<div class="container">
		<div class="row">
			<div class="col-md-12 header-categories">
				<h2>Categories</h2>
			</div>
		</div>
		<div class="row footer-categories">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-10">
						<button ng-repeat="categorie in categories" class="btn btn-categories" type="button" ng-click="gotToBlogs(categorie)">
							{{categorie.title}} <span class="badge"><p>{{categorie.blogs_count}}</p></span>
						</button>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
		</div>
	</div>
</div>
