<div class="container title-featured-content">
	<div class="row">
		<div class="col-md-12 mq-featured">
			<p>Featured Content</p>
		</div>
	</div>
</div>
<div class="row">
    <div ng-if="!loadedHome" class="row text-center">
        <div class="col-xs-12 loading-blog">
            <img src="img/loading.gif">
        </div>
    </div>
</div>
<div class="container featured-content animated fadeIn" ng-if="loadedHome">
	<div class="row">
		<div class="col-md-6" ng-repeat="feature in featured">
			<div class="row" ng-if="feature.content">
				<div class="col-md-5 mq-featured">
                    <img class="img-responsive" ng-if="feature.image_path == null" src="img/no-image.png">
                    <img class="img-responsive" ng-if="feature.image_path != null" ng-src="{{feature.image_path}}">
				</div>
				<div class="col-md-7 mq-featured">
					<h1 class="cursor-pointer" ng-click="goToSingleBlog(feature.id);">{{feature.title}}</h1>
					<p ng-bind-html="parseHtml(feature.content | limitTo:186)"></p>
					<div>
                        <button type="button" class="btn btn-read-more-recipe" ng-click="goToSingleBlog(feature.id);">READ MORE</button>
					</div>
				</div>
			</div>
            <div class="row" ng-if="feature.description">
                <div class="col-md-5 mq-featured">
                    <img class="img-responsive" ng-if="feature.thumbnail == null" src="img/no-image.png">
                    <img class="img-responsive" ng-if="feature.thumbnail != null" ng-src="{{feature.thumbnail}}">
                </div>
                <div class="col-md-7 mq-featured">
                    <h1 class="cursor-pointer" ng-click="goToSingleRecipe(feature.id);">{{feature.title}}</h1>
                    <p ng-bind-html="parseHtml(feature.description | limitTo:186)"></p>
                    <div>
                        <button type="button" class="btn btn-read-more-recipe" ng-click="goToSingleRecipe(feature.id);">READ MORE</button>
					</div>
                </div>
            </div>
		</div>
	</div>
</div>
<form action="">
    <div class="container-fluid newsletter-body">
        <img class="paper-plane" src="../img/newsletter-plane.png">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="newsletter-title text-center">Sign up. You won’t regret it.</h1>
            </div>
        </div>
        <div class="row newsletter-group">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">

            </div>
            <div class="col-xs-12 col-md-2">
                <div class="inner-addon">
                    <input type="text" ng-model="firstName" class="newsletter-input center-block" placeholder="Your first name" required="required">
                </div>
            </div>
            <div class="col-xs-12 col-md-2">
                <div class="inner-addon">
                    <input type="text" ng-model="lastName" class="newsletter-input center-block" placeholder="Your last name" required="required">
                </div>
            </div>
            <div class="col-xs-12 col-md-2">
                <div class="inner-addon">
                    <input type="email" ng-model="email" class="newsletter-input center-block" placeholder="Your email address" required="required">
                </div>
            </div>
            <div class="col-xs-2">

            </div>
            <div class="col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-12 col-lg-12">

            </div>
            <div class="col-xs-4 col-sm-5 col-md-12 col-lg-12">
            	<button type="submit" class="btn center-block subscribe-btn" ng-click="subscribe()">SUBSCRIBE NOW</button>
            </div>
            <div class="col-xs-5 col-sm-4 col-md-12 col-lg-12"></div>
        </div>
    </div>
</form>
<div class="container latest-content animated fadeIn" ng-if="loadedHome && loadedMore">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4 mq-latest"><h1>Latest Content</h1></div>
				<div class="col-md-4"></div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 mq-latest" ng-repeat="recipe in recipes" >
					<div ng-if="recipe.description" class="cursor-pointer" ng-click="goToSingleRecipe(recipe.id);">
                        <img class="img-responsive recipe-image" ng-if="recipe.thumbnail == null" src="img/no-image.png" >
                        <img class="img-responsive recipe-image" ng-if="recipe.thumbnail != null" ng-src="{{recipe.thumbnail}}" >
                        <p class="text-center">{{recipe.title | limitTo:50}}</p>
                        <div class="btn-recipe-read-more">
                            <button type="button" class="btn btn-read-more-recipe" ng-click="goToSingleRecipe(recipe.id);">READ MORE</button>
						</div>
                    </div>
                    <div ng-if="recipe.content"  class="cursor-pointer" ng-click="goToSingleBlog(recipe.id);">
                        <img class="img-responsive recipe-image" ng-if="recipe.image_path == null" src="img/no-image.png" >
                        <img class="img-responsive recipe-image" ng-if="recipe.image_path != null" ng-src="{{recipe.image_path}}" >
                        <p class="text-center">{{recipe.title | limitTo:50}}</p>
                        <div class="btn-recipe-read-more">
                            <button type="button" class="btn btn-read-more-recipe" ng-click="goToSingleBlog(recipe.id);">READ MORE</button>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6 load-more">
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<button type="button" ng-disabled="disableBtn" ng-click="loadMore();" class="btn btn-load-more">VIEW MORE</button>
						</div>
						<div class="col-md-4"></div>
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>
	</div>
</div>
<div ng-if="!loadedHome || !loadedMore" class="row text-center">
    <div class="col-xs-12 loading-blog">
        <img src="img/loading.gif">
    </div>
</div>
<div class="container-fluid home-categories animated fadeIn" ng-if="loadedCategories">
	<div class="container">
		<div class="row">
			<div class="col-md-12 header-categories">
				<h2>Categories</h2>
			</div>
		</div>
		<div class="row footer-categories animated fadeIn" ng-if="loadedCategories">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-10">
						<button ng-repeat="categorie in categories" class="btn btn-categories" ng-click="gotToBlogs(categorie);" type="button">
							{{categorie.title}} <span class="badge"><p>{{categorie.blogs_count}}</p></span>
						</button>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
		</div>
	</div>
</div>
