<div class="container content">
    <div class="panel panel-default login-panel center-block">
        <div class="panel-body">
            <h2 class="text-center login-title">Sign in manually</h2>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <form class="form-signin">
                           <div class="row">
                               <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                   <input type="email" id="inputEmail" class="login_box" ng-model="user.email" placeholder="Email" autofocus required>
                               </div>
                           </div>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                    <input type="password" id="inputPassword" class="login_box" ng-model="user.password" placeholder="******" required>
                                </div>
                            </div>
                            <div class="row check-box-forgot-pw">
                                <div class="col-xs-6 col-sm-3 col-sm-offset-2 col-md-6 col-md-offset-0">
                                    <div class="checkbox">
                                        <label style="font-size: 1em">
                                            <input type="checkbox" value="" checked>
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-5 col-md-6"><a class="forgot-password pull-right" href="/password/reset">Forgot password?</a></div>
                            </div>
                            <div class="row buttons-login">
                                <div class="col-xs-6 col-sm-4 col-sm-offset-2 col-md-6 col-md-offset-0">
                                    <button class="btn signin-button" ng-click="login()">SIGN IN</button>
                                </div>
                                <div class="col-xs-6 col-sm-4 col-sm-offset-0 col-md-6 col-md-offset-0">
                                    <button class="btn register-button" ng-click="register();">REGISTER</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>