<div class="container not-found-page">
	<div class="row">
		<div class="col-md-4">
			<h4>Search results</h4>
			<h2>No results found for “{{searchInput.keyword}}”</h2>
			<div class="ptag">
				<p>- Make sure all words are spelled correctly.</p>
				<p>- Try different keywords.</p>
				<p>- Try more general keywords.</p>
			</div>
		</div>
		<div class="col-md-4">
			<img class="img-responsive" src="img/img-chef.png">
		</div>
		<div class="col-md-4"></div>
	</div>
</div>