<div class="row">
    <div ng-if="!loadedReadLater" class="row text-center">
        <div class="col-xs-12 loading-blog">
            <img src="img/loading.gif">
        </div>
    </div>
</div>
<div class="container-fluid read-later-container text-center animated fadeIn" ng-if="loadedReadLater">
    <h1>Read later articles</h1>
</div>
<div class="container container-padding animated fadeIn" ng-if="loadedReadLater">
    <div class="row">
        <div class="col-md-12"><h1 ng-if="blogs.length == 0 && recipes.length == 0" class="text-center not-have-read">You don't have any read later article</h1></div>
        <div class="col-md-12"><h1 ng-show="isLogged" class="text-center not-have-read">You are not logged in, please <a href="#!/login">login</a></h1></div>
    </div>
    <div class="row single-article" ng-repeat="blog in blogs">
        <div class="col-xs-12 col-sm-1 read-later-col" ng-click="removeBlog(blog)"><i class="fa fa-check-square-o checkbox-read-later" aria-hidden="true"></i></div>
        <div class="col-sm-12 col-sm-3">
            <img ng-if="blog.image_path == null" src="img/no-image.png" alt="" class="img-responsive food-image-article">
            <img ng-if="blog.image_path != null" ng-src="{{blog.image_path}}" alt="" class="img-responsive food-image-article">
        </div>
        <div class="col-sm-7">
            <h4 class="article-title">{{blog.title}}</h4>
            <p class="article-description" ng-bind-html="blog.content | limitTo: 300">
            </p>
            <div class="row article-small-info">
                <div class="col-md-3 calendar-col"><i class="fa fa-calendar-check-o" aria-hidden="true"><span> {{blog.created_at | date: 'longDate'}}</span></i></div>
                <div class="col-md-3 user-col">
                    <img src="../img/article-avatar.png" alt="">
                    <span class="article-username">{{blog.user.firstname}} {{blog.user.lastname}}</span>
                </div>
                <div class="col-md-6 read-later-red-more">
                    <div class="">
                        <button type="button" class="btn" ng-click="goToSingleBlog(blog.id);">READ MORE</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1 action-btn-col">
        </div>
    </div>
    <div class="row single-article" ng-repeat="recipe in recipes">
        <div class="col-xs-12 col-sm-1 read-later-col" ng-click="removeRecipe(recipe)"><i class="fa fa-check-square-o checkbox-read-later" aria-hidden="true"></i></div>
        <div class="col-sm-12 col-sm-3">
            <img ng-if="recipe.thumbnail == null" src="img/no-image.png" alt="" class="img-responsive food-image-article">
            <img ng-if="recipe.thumbnail != null" ng-src="{{recipe.thumbnail}}" alt="" class="img-responsive food-image-article">
        </div>
        <div class="col-sm-7">
            <h4 class="article-title">{{recipe.title}}</h4>
            <p class="article-description" ng-bind-html="recipe.description | limitTo: 300">
            </p>
            <div class="row article-small-info">
                <div class="col-md-3 calendar-col"><i class="fa fa-calendar-check-o" aria-hidden="true"><span> {{recipe.created_at | date: 'longDate'}}</span></i></div>
                <div class="col-md-3 user-col">
                    <img src="../img/article-avatar.png" alt="">
                    <span class="article-username">{{recipe.user.firstname}} {{recipe.user.lastname}}</span>
                </div>
                <div class="col-md-6 read-later-red-more">
                    <div class="">
                        <button type="button" class="btn" ng-click="goToSingleRecipe(recipe.id);">READ MORE</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1 action-btn-col"></div>
    </div>
</div>