<div class="container blog-view">
	<div class="row">
		<div ng-if="!loadedSingleRecipe" class="row text-center">
			<div class="col-xs-12 loading-blog">
				<img src="img/loading.gif">
			</div>
		</div>
	</div>
	<div class="row animated fadeIn" ng-if="loadedSingleRecipe">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<h1>{{recipe.title}}</h1>
				</div>
			</div>
			<div class="row social-icons">
				<div class="col-md-3">
					<p><i class="fa fa-clock-o" aria-hidden="true"></i>
						{{recipe.created_at | date: 'longDate'}}</p>
				</div>
				<div class="col-md-4 blog-username">
					<p><i class="fa fa-user" aria-hidden="true"></i>
						{{recipe.user.firstname}} {{recipe.user.lastname}}</p>
				</div>
				<div class="col-md-2 read-later-latest-blog">
                    <a ng-click="addToReadLater(recipe)"><p class="read_later_place" ng-style="recipe.users_readlater?{'color': '#81c784'}:null"><i class="fa fa-star" aria-hidden="true"></i>   Read later</p></a>
                </div>
				<div class="col-md-1">
					<p>Share:</p>
				</div>
				<div class="col-md-2">
					<div class="row">
						<div class="col-md-4 social">
							<a class="btn btn-social social-btn"
							   socialshare
							   socialshare-provider="facebook"
							   socialshare-type="feed"
							   socialshare-via="1901173073445523"
							   socialshare-url="{{shareUrl}}"
							   socialshare-redirect-uri="{{shareUrl}}"
							   socialshare-quote="Chef Jungle"
							   socialshare-popup-height="400"
							   socialshare-popup-width="500"
							   socialshare-trigger="click">
								<span class="fa fa-facebook"></span>
							</a>
						</div>
						<div class="col-md-4 social">
							<a class="btn btn-social social-btn"
							   socialshare
							   socialshare-provider="twitter"
							   socialshare-text="{{blog.title}}"
							   socialshare-hashtags="Chef Jungle, cooking"
							   socialshare-url="{{shareUrl}}">
								<span class="fa fa-twitter"></span>
							</a>
						</div>
						<div class="col-md-4 social">
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<h2 style="font-family: 'Lato', sans-serif;color: #9d9d9d;">Ingredients</h2>
					<p ng-bind-html="recipe.ingredients"></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2 style="font-family: 'Lato', sans-serif;color: #9d9d9d;">Equipment</h2>
					<p>{{ recipe.equipment }}</p>
				</div>
			</div>
			<div class="jumbotron step" ng-repeat="step in recipe.steps">
				<div class="row">
					<div class="col-md-12 title">
						<h2>Step {{step.step_number}}:</h2>
						<h3 class="recipe-steps-title">{{step.title}}</h3>
					</div>
				</div>
				<div class="row images">
					<div class="col-md-12">
						<img class="img-responsive" ng-src="{{step.thumbnail}}">
					</div>
				</div>
				<div class="row description">
					<div class="col-md-12">
						<p>{{step.description}}</p>
					</div>
				</div>
			</div>
		</div>
        <div class="col-md-3 step">
			<div class="row">
				<div class="col-md-4 mq-user-img">
					<img ng-src="{{recipe.user.avatar}}">
				</div>
				<div class="col-md-8 user-blog-view">
					<h4>{{recipe.user.firstname}} {{recipe.user.lastname}}</h4>
					<p>{{recipe.user.title}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 user-description user-blog-view">
					<p>{{ recipe.user.bio }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" ng-show="ad && ad.recipeZoneOne" ng-bind-html="ad.recipeZoneOne"></div>
			</div>
        </div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<div ng-show="ad && ad.recipeZoneTwo" ng-bind-html="ad.recipeZoneTwo"></div>
		</div>
	</div>
    <div class="row disquas">
        <div class="col-md-8">
            <div disqus="id"></div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
