<div class="container content">
    <div class="panel panel-default login-panel center-block">
        <div class="panel-body">
            <h2 class="text-center login-title">Register page</h2>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <form class="form-signin" ng-model="registerForm" name="registerForm" ng-submit="register(registerForm.$valid)" novalidate>
                           <div class="row">
                               <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                   <input type="email" name="email" ng-model="email" class="login_box" placeholder="Email" autofocus required>
                                   <p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="help-block">Email invalid.</p>
                               </div>
                           </div>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                    <input type="text" name="firstName" ng-model="firstName" class="login_box" placeholder="First name" ng-minlength="3">
                                    <p ng-show="registerForm.firstName.$error.minlength">First name is too short.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                    <input type="text" name="lastName" ng-model="lastName" class="login_box" placeholder="Last name" ng-minlength="3">
                                    <p ng-show="registerForm.lastName.$error.minlength">Last name is too short.</p>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                    <input type="text" id="phoneNumber" name="phoneNumber" ng-model="phoneNumber" class="login_box" placeholder="Phone Number" format-phone>
                                    <p ng-show="registerForm.phoneNumber.$invalid && !registerForm.phoneNumber.$pristine" class="help-block">Phone number is required.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                    <input type="password" name="password" ng-model="password" class="login_box" placeholder="Password" required>
                                    <p ng-show="registerForm.password.$invalid && !registerForm.password.$pristine" class="help-block">Password is required.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                    <input type="password" name="repeatedPassword" ng-model="password_confirmation" class="login_box" placeholder="Repeat password" required>
                                    <p ng-show="registerForm.repeatedPassword.$invalid && !registerForm.repeatedPassword.$pristine" class="help-block">Repeat Password is required.</p>
                                </div>
                            </div>
                            <div class="row buttons-login">
                                <div class="col-xs-6 col-sm-4 col-sm-offset-2 col-md-6 col-md-offset-0">
                                    <button type="submit" class="btn signin-button" ng-disabled="registerForm.$invalid">Register</button>
                                </div>
                                <!--<div class="col-xs-6 col-sm-4 col-sm-offset-0 col-md-6 col-md-offset-0">-->
                                    <!--<div-->
                                            <!--vc-recaptcha-->
                                            <!--ng-model="registerFields.myRecaptchaResponse"-->
                                    <!--&gt;</div>-->
                                <!--</div>-->
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>
