<div class="container content">
    <div class="panel panel-default login-panel center-block">
        <div class="panel-body">
            <h2 class="text-center login-title">Reset password</h2>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <form class="form-signin">
                           <div class="row">
                               <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                   <input type="email" id="inputEmail" class="login_box" ng-model="email" placeholder="Email" autofocus required>
                               </div>
                           </div>
                            <div class="row buttons-login">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <button class="btn signin-button" ng-click="resetPassword()">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>
