<div class="container-fluid search-container text-center">
    <h1>Search results</h1>
    <h3>for: {{ searchInput.keyword }}</h3>
</div>
<div class="row">
    <div ng-if="!loadedSearch" class="row text-center">
        <div class="col-xs-12 loading-blog">
            <img src="img/loading.gif">
        </div>
    </div>
</div>
<div class="container search-results" ng-if="loadedSearch">
    <div class="row">
        <div class="col-md-12 visible-md-block visible-lg-block visible-sm-block sr">
            <p>&nbsp;</p>
        </div>
    </div>
    <div ng-if="searchResult.length>0 && searchResult[0].length>0" ng-class="calculateClasses()">
        <div ng-hide="true" class="col-md-12">
            <h2 ng-show="blogTitle">Blogs</h2>
        </div>
        <div class="search" ng-repeat="blog in searchResult[0]">
            <div ng-class="{'row': true, 'vr': (blogs.length>0 && recipes.length>0)}">
                <div class="col-md-4 col-xs-12">
                    <img class="img-responsive" ng-if="blog.image_path == null" src="img/no-image.png">

                    <img class="img-responsive" ng-if="blog.image_path != null" ng-src="{{blog.image_path}}">
                </div>
                <div class="col-md-8 col-xs-12">
                    <div class="row">
                        <h3 class="cursor-pointer" ng-click="goToSingleBlog(blog.id);">{{blog.title}}</h3>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <p ng-bind-html="parseHtml(blog.content| limitTo:264)"></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
    </div>
    <div ng-if="searchResult.length>1 && searchResult[1].length>0" ng-class="calculateClasses()">
        <div ng-hide="true" class="col-md-12">
            <h2 ng-show="recipeTitle">Recipes</h2>
        </div>
        <div class="search" ng-repeat="recipe in searchResult[1]">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <img class="img-responsive" ng-if="recipe.thumbnail == null" src="img/no-image.png">
                    <img class="img-responsive" ng-if="recipe.thumbnail != null" ng-src="{{recipe.thumbnail}}">
                </div>
                <div class="col-md-8 col-xs-12">
                    <div class="row">
                        <h3 class="cursor-pointer" ng-click="goToSingleRecipe(recipe.id);">{{recipe.title}}</h3>
                    </div>
                    <div class="row">
                        <p ng-bind-html="parseHtml(recipe.description| limitTo:264)"></p>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
    </div>
</div>
