<div class="container thank-you">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Thank you for subscribing!</h1>
            <p class="text-center">Thank you for staying in touch with us, have a nice day!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <img class="img-responsive center-block mailbox-icon" src="img/mailbox-image.png" alt="mailbox-icon">
        </div>
    </div>
</div>