<div class="container-fluid wish-list-content">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 send-wish">
                <h2>Requesting for some good recipe or something else</h2>
                <form action="">
                    <div class=" col-md-12 wish-list-input1">
                        <input type="text" ng-model="wishlistData.title" placeholder="Tell us your wish?" autofocus
                               required="required">
                    </div>
                    <div class="col-md-12 wish-list-describe">
                        <p>Describe us your wish?</p>
                    </div>
                    <div class="col-md-12 wish-list-input2">
                        <!--<input type="text" ng-model="wishlistData.content" autofocus required="required">-->
                        <textarea rows="5" ng-model="wishlistData.content" autofocus required="required"></textarea>
                    </div>
                    <div class="col-md-12 btn-send-now">
                        <button type="submit" ng-click="sendWishList();" class="btn btn-default">SEND NOW</button>
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<div class="container wish-list-down-content">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Look wishes of other users</h2>
            <div class="row">
                <div ng-if="!loadedWish" class="row text-center">
                    <div class="col-xs-12 loading-blog">
                        <img src="img/loading.gif">
                    </div>
                </div>
            </div>
            <div class="row animated fadeIn" ng-if="loadedWish">
                <div ng-repeat="wish in wishes">
                    <div class="col-md-8 wish-item1">{{wish.title}}</div>
                    <div class="col-md-4">
                        <div class="row wish-list-like">
                            <a ng-click="likeWishlist(wish.id)">
                                <div class="col-md-3 wl-likes"><i class="fa fa-heart" ng-style="set_color(wish)"
                                                                  aria-hidden="true"></i></div>
                            </a>
                            <div class="col-md-9 wish-list-likes"><p>{{wish.users_liked_count}} likes</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
